[2016-09-06 17:56] jasonmullins opened #1 "UsersIdentityResponse missing possible data"
Hi, thanks for creating an awesome library.  I have a question.  I noticed there is more data that could be available on this method:  https://api.slack.com/methods/users.identity... like avatars, team name, etc.

I was going to clone the repo and add it but I can't really get it to build.  Is there something I need to do to get it to build successfully?

[2016-09-06 23:51] seratch commented on #1
You must be able to build this project with Maven 3. One thing, this project uses Lombok to reduce boilerplate code. If you're trying to build on your IDE, ensure the annotation processing tool settings.

I'm looking forward to merging your pull request!

[2016-11-09 21:19] atul2017 opened #4 "Proxy support for RTM Client"
Does anyone modify RTM client for proxy support. I have proxy setup between my client and slack channel. I tried to do it in RTMClient class but websocket does not have any method to handle the proxy. Please share your code..

[2016-11-13 10:42] k33g opened #5 "Can't post as a user"
Hey 👋 @seratch   If I read this code:
https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/shortcut/impl/ShortcutImpl.java#L122

`post` and `postAsBot` do exactly the same thing, for `post` the call of `_post()` should be `_post(channel, text, Collections.emptyList(), true);` (with `true` and not `false`)

[code]

[2016-11-18 02:56] mkobit opened #6 "Add additional response data from the rtm.start method"
The https://api.slack.com/methods/rtm.start method has additional fields like:

- `self`
- `team`
- `ims`
- `channels`
- `users`
- `groups`

It would be useful if those were available in the [RTMStartResponse](https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/api/methods/response/rtm/RTMStartResponse.java) for use when starting up an RTM connection.

[2016-11-18 04:01] seratch commented on #5
oops, thanks. I'll fix it soon.

[2016-11-19 02:49] #5 closed

[2016-11-19 02:57] seratch commented on #6
That's true. However, I myself am not in a hurry on this. Pull requests are always welcome.

[2016-11-19 02:58] #1 closed

[2016-11-28 14:01] joeltoby opened #7 "Common interfaces for Request and Response"
Hi @seratch,

Thanks for open-sourcing the great library.
What's your opinion on providing two common marker interfaces to be implemented by all request and response objects?  I.E. All requests implement `request` and all responses implement `response`.

In my opinion it would be extremely useful for developers in a number of situations I've encountered:
1. It would enable clients to decorate requ

[2016-11-28 14:24] seratch commented on #7
@joeltoby It's acceptable for me to have such interfaces. More explicit name such as SlackApiRequest or similar is more preferred.

[2016-11-28 15:09] joeltoby commented on #7
Thanks for the fast reply.  I'll name the objects as suggested.

[2016-11-28 15:30] joeltoby opened #8 "ckvnikh"

[2016-11-28 16:16] seratch commented on #8
?

[2016-11-29 06:25] seratch commented on #6
Thank you for your contribution 🎉

[2016-11-29 06:25] #6 closed

[2016-11-29 06:25] #8 closed

[2016-11-30 08:02] #7 closed

[2017-02-07 14:40] cypressious commented on #4
It looks like jslack uses OkHttp. Construct an `OkHttpClient` with your proxy settings according to http://stackoverflow.com/questions/37866902/okhttp-proxy-settings and then call `Slack.getInstance(SlackHttpClient(client))` to create a custom slack client.

[2017-03-06 15:20] azakordonets opened #15 "Library doesn't want to be compiled with 1.7 target"
Hi, is it possible to use this library with java 1.6-1.7 in Android projects ? When i added it to our gradle build, i got this error :

[code]

[2017-03-06 15:34] seratch commented on #15
Hmm, a shortcut class depends on java.util.Optional but others can be compatible with Java 7. If you'll seriously use this library, I'll consider supporting Java 7.

[2017-03-07 09:42] azakordonets commented on #15
It's ok, i found https://github.com/pschroen/slack-api-android project , which i can use with Android apps. I like your api a bit more, but project does what i need as well. Thanks.

[2017-03-07 09:42] #15 closed

[2017-03-13 19:56] pekim opened #16 "Access to RTMStartResponse"
I want access to `RTMStartResponse`. Unfortunately `RTMClient rtm = new Slack().rtm(token)` (as suggested in the README) doesn't facilitate that.

After looking at https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/Slack.java#L66 I went for something like this.
[code]
And I have the access that I'm after.

Although I'm only using public methods, I'm wondering if

[2017-03-13 23:20] seratch commented on #16
There is no problem if you directly call methods API to start RTM.

[2017-03-14 21:26] pekim commented on #16
Thank you for confirming that.

[2017-03-14 21:26] #16 closed

[2017-03-21 11:19] f2um2326 opened #17 "Unable to find acceptable protocols"
We got Unable to find acceptable protocols error from Slack API maybe after the minor change on March 20, 2017 ( https://api.slack.com/changelog/2017-02-minor-field-changes ).
Do you have any ideas?

We got the "Unable to find acceptable protocols" error when we call doPostForm() function in the jslack/src/main/java/com/github/seratch/jslack/api/methods/impl/MethodsClientImpl.java#channelsList()

[2017-03-21 13:11] f2um2326 commented on #17
I found it's the Bluemix problem. My app is using WAS liberty on Bluemix and recently liberty was updated to v17. It looks has problem with okhttp3.

[2017-03-21 13:11] #17 closed

[2017-03-21 13:37] seratch commented on #4
RTMClient doesn't use ok-http. Unfortunately, the WebSocket implementation doesn't support using proxy so far. https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/api/rtm/RTMClient.java

[2017-03-22 19:02] vaniusrb opened #18 "Methods users.setPhoto and users.deletePhoto"
Hello guys! I'm really enjoying using this library, congratulations.
I did not find the implementation for the "users.setPhoto" and "users.deletePhoto" methods.
Is there any future plan to be implemented? Thank you.

[2017-03-23 00:51] seratch commented on #18
@vaniusrb Ah, somehow, I forgot implementing them :(  Of course, I'd love to support all the methods.

Adding users.setPhoto is pretty easy. If you're interested in working on it, pull requests are always welcome.

https://github.com/seratch/jslack/blob/4f3ac15a6d3e09eb408c7ac60cbdfcd4fbcf28be/src/main/java/com/github/seratch/jslack/api/methods/impl/MethodsClientImpl.java#L442-L455

[2017-03-23 11:26] vaniusrb commented on #18
@seratch Interesting, I'll try. Thanks for the reply.

[2017-03-24 18:10] mbfbsae90 opened #19 "remove extra dependencies...."
non documented dependencies:
If it is "simple" why do I need to keep adding libraries.

okhttp3/RequestBody
slf4j
org.slf4j.impl.StaticLoggerBinder
lombok

[2017-03-26 12:22] seratch commented on #19
jSlack uses minimum necessary libraries.

- okhttp for HTTP requests
- slf4j for logging

The library users don't depend on Lombok. Lombok is needed only for compilation phase.

I'm not planning to remove the above dependencies.

[2017-03-26 12:22] #19 closed

[2017-04-18 14:18] n0mer opened #20 "is support for message menus planned?"
https://slackhq.com/take-your-pick-75767e13b497

[2017-04-21 09:17] seratch commented on #20
That sounds good. 👍  https://api.slack.com/docs/message-menus
Recently, I myself am a bit busy. If somebody implements the enhancement, I'd love to merge it.

[2017-05-01 17:06] bensusman opened #21 "ConfirmationMessage don't appear to work."
Following the code it appears the naming convention for confirmation messages is incompatible with Slack at the moment.

I pinpointed the issue to here `String json = GsonFactory.createSnakeCase().toJson(req.getAttachments());` in `MethodsClientImpl.java`

The outputted json includes "confirmation_message". It should be "confirm".

The primary issue is the class name from what I can tell.
`Confirm

[2017-05-01 19:58] bensusman commented on #21
Apologies. It is associated by the `Action` field name, not the classname, correct?

I tried to clone the repo, and make the change myself and make a PR and what not, but I seem to be having some issues getting Eclipse to work nicely with Lombok.

[2017-05-07 13:23] seratch commented on #21
I don't understand what the points we need to change in the library code are. If you need to specify the value of `attachments.actions.name`, your own code can (to be exact, should) do that.

[2017-05-09 13:52] bensusman commented on #21
The issue is not with the `attachments.actions.name` the issue is with `attachments.actions.confirm`.

For example an action _should_ have the following json:
[code]
but the Json output from jslack is:
[code]
Noting the difference between **confirm** and **confirmation_message**.

Does that clarify the the issue?

[2017-05-09 14:29] seratch commented on #21
Thanks, I understand. So this pull request originally had a bug. https://github.com/seratch/jslack/pull/12

It's pretty easy to fix this. Just renaming the `ConfirmationMessage` class to `Confirm` class. You don't need to setup your Eclipse for Lombok. Simply building with Gradle and ensuring the behavior by running tests would be enough. I'm looking forward to merging your pull request 😸

[2017-05-16 23:56] #21 closed

[2017-05-18 13:12] ajurasz opened #24 "Include Attachment type in Messages"
As stated in the documentation:

`Messages can also include an attachments property, containing a list of attachment objects.`

Here is the structure of the attachment object https://api.slack.com/docs/message-attachments#attachment_structure.

The main goal of this feature is to create new type `Attachment` and add it to existing `Message` type. This way when I will be doing a fetch of channel hi

[2017-05-18 13:13] ajurasz commented on #24
I will provide PR for this one.

[2017-05-18 13:51] #18 closed

[2017-05-18 13:53] seratch commented on #24
Thank you. I'm looking forward to merging your 2nd contribution 👍

[2017-05-20 00:47] #24 closed

[2017-05-30 09:28] Yaskier opened #27 "Users invitation endpoint"
Slack has some secret endpoints that are so useful, one example is the user invitation endpoint:
https://github.com/ErikKalkoken/slackApiDoc/blob/master/users.admin.invite.md
Could you add this endpoint, in order to invite people to slack via API?

[2017-06-25 23:05] seratch commented on #27
@Yaskier Sorry for my late response. If you can support this endpoint, it would be fine. Contributing to jSlack is quite easy. If you're interested in working on this, I'd love to merge your pull request.

[2017-06-28 15:49] Yaskier commented on #27
I'll try to make some time!

[2017-10-06 17:54] #20 closed

[2017-10-10 23:44] storebot opened #30 "How do I mention a slack user?"
On the rest-api :
I can perform that using the below message.

{"text": "@username", "link_names": "1"}";

Just looking for the corresponding jslack code.

Thanks.

[2017-10-11 01:36] seratch commented on #30
You can do that like this:
https://github.com/seratch/jslack/blob/4f3ac15a6d3e09eb408c7ac60cbdfcd4fbcf28be/src/test/java/com/github/seratch/jslack/Slack_channels_chat_Test.java#L116-L122

[2017-10-13 15:10] joeltoby opened #31 "Add support for Slack dialog modals"
Dialogs were recently released by Slack (see [here](https://api.slack.com/dialogs)) and a `dialog.open` web API has also been exposed.

Request to add support to this API in jslack.

[2017-10-16 19:32] #30 closed

[2017-10-21 14:59] itayktest opened #34 "How to get the result of what user clicked in interactive buttons ?"
I Add an interactive button but I cant get the selected button with the RTM
Can you assist, please?

[2017-10-21 21:39] joeltoby commented on #34
Button clicks are not slack events - they are not provided by the RTM API.

Button clicks require a callback handler /URL which is out of scope for this library.

Please see the 'Responding to message actions' section of the doc: https://api.slack.com/docs/message-buttons

[2017-10-21 22:45] Geanik opened #35 "payload.channel() doesn't work for me"
in your src-files' comments i found the description of the Payload's "channel()"-method
if i'm not wrong, i should be able to write to another channel, than the webhook specifies
for me that doesn't work

i created a webhook for my "#general" channel, and want to send a message to the "#random" channel

`Payload payload = Payload.builder()
			.channel("#random")`

i've used that code at payload's

[2017-10-21 23:26] seratch commented on #35
Try this test code. It works. https://github.com/seratch/jslack/blob/c72cea1dca64e9999b6daf26b9e0217440c1267c/src/test/java/com/github/seratch/jslack/Slack_incomingWebhooks_Test.java

[2017-10-22 08:36] Geanik commented on #35
thx for the quick response
i think i've found my problem
i want to use it with an "Slack App", where i created the WebHook
testing it with that url, didn't work

now i've created a "Incoming Webhooks" Custom Integration
with that it works

apparently it doesn't work with a "Slack App", but i need a slack app because i want to use "Interactive Message Buttons"
do you have any experience with overwr

[2017-10-22 12:16] joeltoby opened #36 "Refactor all tests with Mock API calls"
Mocking Slack API requests instead of making real calls will improve the tests and enable us to test calls that cannot be tested in an automated fashion without mocks such as `dialog.open` requests.

Slack's API team recently released [Steno](https://github.com/slackapi/steno):

I would like to integrate Steno into JSlack and replace all existing tests with Steno mock scenarios.

[2017-10-22 12:16] joeltoby commented on #36
@seratch As discussed, please feel free to assign this to me.

[2017-10-23 20:21] joeltoby commented on #35
From: https://api.slack.com/incoming-webhooks

[2017-10-28 10:02] joeltoby opened #37 "Implement `conversations` API"
From [the docs](https://api.slack.com/docs/conversations-api):

@seratch - I'm happy to do this if you agree that it adds value?

[2017-10-28 10:07] seratch commented on #37
@joeltoby Of course, I agree. I would love to cover all Slack APIs.

[2017-10-29 11:33] Geanik commented on #35
ok i have now found what i needed
i needed an app where the interactive messaging stuff was configured
and now i use the app's wrapped bot user to interact with users and send them interactive buttons, and the app's configuration gets used

thx for your help

[2017-10-29 11:33] #35 closed

[2017-10-29 22:57] cesdperez opened #38 "Allow configuring URL prefixes"
First, thanks for your sharing jslack 👍

I'm using the Slack Methods client and I noticed the API prefix is hardcoded in a `static final` variable in `MethodsClientImpl#ENDPOINT_URL_PREFIX`. It'd be very useful if we could override those prefixes from outside.

A common scenario is when you want to use something like [wiremock](http://wiremock.org/) for writing integration tests using mock calls.

[2017-11-02 09:41] esiqveland opened #39 "Reuse the httpClient?"
At the first line in the `.send(url, payload)` the httpclient is created again every time, even though the instance has a slackhttpclient in its member variables.
https://github.com/seratch/jslack/blob/c5c2a1ff42cad3297694055306da1255fda2411a/src/main/java/com/github/seratch/jslack/Slack.java#L50

Should this rather be `this.httpClient`?

[2017-11-03 13:22] seratch commented on #39
If you would like to reuse the client instance, simply reuse the `SlackHttpClient` instance. `Slack.getInstance()` does. https://github.com/seratch/jslack/blob/7ad360f07b57eff2aaf24b8c8f7690ea311132d9/src/main/java/com/github/seratch/jslack/Slack.java#L26

[2017-11-03 13:25] seratch commented on #38
Allowing to configure the URL prefixes would be great.

[2017-11-03 13:48] esiqveland commented on #39
I am doing this, ie. `Slack.getInstance().send(...)`.

The send() method doesn't reuse, but creates a new httpClient.

`new SlackHttpClient()` calls the constructor which create a new instance of OkHttpClient:

[code]

so even if I am using the singleton instance, it creates a new OkHttpClient on every message posted.

[2017-11-03 13:51] seratch commented on #39
I see. Now I understand your point. You’re right.

[2017-11-03 13:54] esiqveland commented on #39
Also, thank you for a great API client for talking to Slack!

[2017-11-06 15:24] itayktest commented on #34
Thanks for fast response
Will this option be someday in this library?

[2017-11-06 22:20] seratch commented on #34
Right, I don't have any plans to do something.

[2017-11-06 22:21] #38 closed

[2017-11-08 12:06] scoobymib3 opened #42 "Request for groups.replies to be added"
Hi,

Thanks for the hard work on this, saved me a lot of time.

Can I request the addition of the groups.replies method please?

Cheers
Martin

[2017-11-08 12:18] #42 closed

[2017-11-08 12:26] scoobymib3 commented on #42
Just noticed the implementation of the conversations api :)

[2017-11-08 16:22] scoobymib3 opened #43 "Request to add to Message object"
Hi,

Love this project, saving me a bunch of time and effort! Thank you!

Can you add the bot_id, username and subtype to the Message object please? If you post with a custom username it is stored in the Message username field which I can't access.

cheers
Martin

[2017-11-08 22:31] seratch commented on #43
https://api.slack.com/methods/channels.history#response

Indeed, those fields exist. Can you send a pull request to update the object? It's pretty easy. https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/api/model/Message.java

[2017-11-09 09:29] scoobymib3 commented on #43
Have done, must first pull request but think I've done it correctly

[2017-11-10 20:26] esiqveland commented on #39
Do you want me to have a go at it?

[2017-11-11 09:01] #43 closed

[2017-11-11 09:01] #37 closed

[2017-11-11 09:04] seratch commented on #39
I would appreciate it if you could work on it.

[2017-11-15 13:31] seratch commented on #39
Fixed by https://github.com/seratch/jslack/pull/46

[2017-11-15 13:31] #39 closed

[2017-11-18 09:34] davidkarlsen opened #48 "delete user method"
I cannot find this call in the API: https://api.slack.com/scim#delete-users-id is it not implemented?

[2017-11-19 00:33] seratch commented on #48
Not yet.

[2017-11-27 11:55] davidkarlsen commented on #48
Should I do a PR - or do you already have something cooking for this?

[2017-11-27 11:57] seratch commented on #48
I myself don’t have a plan to work on this in the near future. If you make a  pull request, I would love to merge it.

[2017-11-27 12:56] davidkarlsen commented on #48
Hmm, I don't see any HTTP DELETE [1] options for the okhttp api: https://square.github.io/okhttp/3.x/okhttp/

[1]
https://api.slack.com/scim#delete-users-id

[2017-11-27 12:59] davidkarlsen commented on #48
Ah - found it https://square.github.io/okhttp/3.x/okhttp/okhttp3/Request.Builder.html#delete--

[2017-11-29 11:53] vdobrikov opened #51 "Action button confirmation should have property name "confirm" instead of "confirmation""
Current implementation of button with confirmation doesn't show the actual confirmation since uses incorrect attribute name:
Current version:
[code]
Correct version:
[code]
Problem is here:
https://github.com/seratch/jslack/blob/e633154c85c2a1a5b358b41185a5c663559dd71b/src/main/java/com/github/seratch/jslack/api/model/Action.java#L45

[2017-11-30 22:56] #51 closed

[2017-11-30 22:56] seratch commented on #51
Thanks.

[2017-12-07 03:03] #48 closed

[2017-12-07 03:35] #31 closed

[2017-12-07 08:26] davidkarlsen commented on #48
Great - thanks!

[2017-12-14 00:05] cedricbirdly opened #52 "Action does not support dynamic selects"
Hello!

The Action class misses two attributes to support the dynamic menus:
 private String dataSource;
private int minQueryLength;

Could you add them?

see https://api.slack.com/docs/message-menus#populate_message_menus_dynamically

[2017-12-16 04:40] #52 closed

[2017-12-19 15:07] cedricbirdly commented on #52
Thanks a lot! Could you please update the maven version?

[2017-12-22 01:56] seratch commented on #52
I just released 1.0.19.

[2017-12-22 15:05] cedricbirdly commented on #52
Hey! Not sure if normal, but still can't see 1.0.19 in maven repository :(

[2017-12-23 01:59] seratch commented on #52
Ah, sorry. The release was not completed. It's done now. https://oss.sonatype.org/content/repositories/releases/com/github/seratch/jslack/1.0.19/

[2018-01-18 09:26] cedricbirdly opened #55 "Attachment misses author_subname field"
Hey,

Could you please add author_subname in Attachment?
Would also need a new build and maven delivery :)

Thanks in advance, and again congratulations for the work done!

[2018-02-11 06:28] #55 closed

[2018-02-14 17:39] joeltoby opened #59 "Implement chat.getPermalink API"
API docs:  https://api.slack.com/methods/chat.getPermalink

[2018-02-17 01:52] #59 closed

[2018-02-26 08:19] Li0n13 opened #61 "Couldn't get user's "display_name""
"User.name" no longer contains "display name"
(https://api.slack.com/changelog/2017-09-the-one-about-usernames)

[2018-02-26 15:44] #61 closed

[2018-03-13 14:55] MaxG2395 commented on #4
Hello, sorry for replying to an old thread, however, does the RTMClient support proxy as of now?

[2018-03-13 14:56] seratch commented on #4
Not yet supported.

[2018-03-28 05:28] ashwinbiyani opened #63 "Few Questions on Slack"
1. How can I send a scrollable data grid to slack as an incoming webhook response? Given it supports the only image format.
2. Can I send an image object as streaming content to incoming webhook response? or I need to publish this image object as an image in some folder and provide that URL as an attachment.
3. Now I have an app on my slack account. How do I make it available for my client's accou

[2018-03-28 16:45] Roach commented on #63
You can't currently. You can experiment with different formatting options, though: https://api.slack.com/docs/messages/builder

Now I have an app on my slack account. How do I make it available for my client's account and their workspace?

You'd have to use the Web API upload methods, rather than the response URL.

OAuth allows you to have your app authorized by specific users.

I am little confus

[2018-03-28 16:48] Roach commented on #27
FYI the invite endpoint is an undocumented admin endpoint and as such,  consistency is not guaranteed. The payload structure, fields and format may change at any time.

[2018-03-29 11:05] ashwinbiyani commented on #63
thanks very much Roach. Are there any charts like fusion charts , D3 are supported in Slack

[2018-03-30 00:16] Roach commented on #63
@ashwinbiyani not currently. The most common solution is to render the chart as an iage and attach it to the message. One example would be StatsBot: https://statsbot.co/

![statsbot](https://mixpanel.com/wp-content/uploads/2016/06/2-showcases.gif)

[2018-05-01 10:21] joeltoby opened #64 "Bubbling up HTTP 429s (too many requests)"
Slack recently introduced a new rate-limiting system which is detailed [here](https://api.slack.com/docs/rate-limits).

As part of this, API methods now return an [HTTP 429](https://httpstatuses.com/429) response (too many requests) if limits are exceeded.  As is best practice, the 429 response is accompanied by a `retry-after` header.  This type of error is not returned as a JSON error object, bu

[2018-05-05 03:07] seratch commented on #64
In that case, SlackApiException would be thrown. You can access the header as below:

[code]

[2018-05-05 03:09] seratch commented on #63
@Roach Thank you for answering the questions.
@ashwinbiyani As the creator of this Java library, I do not have anything to do for this issue. Do you mind if I close this issue?

[2018-05-05 04:45] ashwinbiyani commented on #63
Yes

On Sat, May 5, 2018, 08:39 Kaz Sera <notifications@github.com> wrote:

[2018-05-05 05:29] seratch commented on #63
I understand that you meant that you don't mind if I close this issue. If not, let me know. I will close this issue within a few days.

[2018-05-05 05:54] ashwinbiyani commented on #63
Yes please, you can close.

On Sat, May 5, 2018, 10:59 Kaz Sera <notifications@github.com> wrote:

[2018-05-05 06:54] #63 closed

[2018-05-05 12:28] joeltoby commented on #64
Thanks @seratch. My silly mistake

[2018-05-05 12:55] seratch commented on #64
Thanks for your reply. Let me close this issue.

[2018-05-05 12:55] #64 closed

[2018-05-17 09:48] samrajcse opened #67 "cursor value missing from response_metadata for pagination."
Hi Team,

I am trying to do pagination for few API's but the cursor response from response_metadata is missing for other api other than Conversation. Now they support few other too. Also the classic pagination option is not provided. Any idea to support that too?

Reference: https://api.slack.com/docs/pagination

[2018-05-17 14:28] seratch commented on #67
I see. Let me know the missing response attributes. I will fix the responses to have them.

[2018-05-30 00:20] farmdawgnation opened #68 "mrkdwn appears to default to false, even though the Slack API spec says it should default to true"
Realized this when I upgraded jslack and all of a sudden my formatting stopped working unless I provided `.mrkdwn(true)`. Looks like that's supposed to be the default.

[2018-05-31 21:37] faissaloo opened #69 "Convert JSON into the objects used by this library"
I need it so I can take the response from RTMMessageHandler and turn it into the corresponding object, this seems pretty fundamental so I'm guessing I'm just missing it.

[2018-06-06 13:54] #68 closed

[2018-06-06 13:55] seratch commented on #68
Thank you for reporting this. I just fixed the issue and released the new version (1.1.2) including the change.

[2018-06-06 13:56] seratch commented on #69
Indeed, it may be useful for many users.

[2018-07-02 18:54] PeterL1n opened #70 "Workspace App, chatPostMessage returns as_user not supported"
The new API for workspace app for posting chat messages does not allow as_user been set. It is noted in the API page: https://api.slack.com/methods/chat.postMessage

In jSlack's implementation, as_user is always set to either true or false. However, slack API requires the as_user field to be left unset. If it is set to either true or false, the endpoint returns:
{
    "ok": false,
    "error": "as

[2018-07-02 18:58] PeterL1n commented on #70
I would suggest modifying ChatPostMessageRequest, changing the boolean as_user to Boolean as_user, so that we can put in null for builder().asUser(null)

[2018-07-03 02:47] seratch commented on #70
Fair enough. I just created a pull request. I will merge it and release a new version very soon.

[2018-07-03 02:49] #70 closed

[2018-07-03 02:55] seratch commented on #70
I just released version 1.1.3.

[2018-07-19 18:43] Anusien commented on #67
ChannelsListResponse is missing response_metadata.

[2018-07-20 19:47] Anusien opened #72 "ConversationRepliesResponse doesn't implement SlackApiResponse"
ConversationRepliesResponse doesn't implement SlackApiResponse, and it should.

[2018-07-20 20:02] joeltoby commented on #72
Yep. My fault. I'll fix it shortly. The same applies to
ConversationsKickResponse.

On Fri, 20 Jul 2018, 20:47 Anusien, <notifications@github.com> wrote:

[2018-07-20 20:42] joeltoby commented on #69
Unless I'm misunderstanding the question, JSlack already does that with GSON.  See how it's done in the tests for example:
 https://github.com/seratch/jslack/blob/3864b4478d9bfe9497812700ff8e23ce1f8b1352/src/test/java/com/github/seratch/jslack/Slack_rtm_Test.java

RTMMessageHandler handler1 = (message) -> {
            JsonObject json = jsonParser.parse(message).getAsJsonObject();

[2018-07-21 02:46] #72 closed

[2018-07-23 16:59] joeltoby opened #75 "MethodsClientImpl is difficult to subclass"
[`MethodsClientImpl`](https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/api/methods/impl/MethodsClientImpl.java) implements over 130 API methods from the [`MethodsClient`](https://github.com/seratch/jslack/blob/master/src/main/java/com/github/seratch/jslack/api/methods/MethodsClient.java) interface.  Each of these methods in turn invokes one of three **private**

[2018-07-24 13:58] joeltoby commented on #75
I actually solved my custom Rate Limiting issue a different way, but I still think this change would make extending the MethodsClient easier for other clients.

[2018-07-24 22:04] #75 closed

[2018-08-15 19:14] bensusman opened #78 "Message format for files has changed / needs updating"
One important note is the changing of the message format from file -> files and some minor changes to the file object structure.

https://api.slack.com/changelog/2018-05-file-threads-soon-tread
- See *Events API changes* for example of the message format change

We've experienced at least one issue with our implementation due to Slack's lack of backwards compatibility on this

[2018-09-27 15:12] RishabhTayal commented on #67
@seratch Should I take a stab at implementing this?

[2018-09-28 00:39] seratch commented on #78
I overlooked this issue. Thank you for raising the issue. We need to update the library.

[2018-10-27 07:43] timkartar opened #82 "No class def found during runtime."
Hi seratch !

java.lang.NoClassDefFoundError: Failed resolution of: Lorg/slf4j/LoggerFactory;
        at com.github.seratch.jslack.common.http.SlackHttpClient.<clinit>(SlackHttpClient.java:12)
        at com.github.seratch.jslack.Slack.<clinit>(Slack.java:31)
        at com.redgold.raktim.cs727.MainActivity.openSlackGame(MainActivity.java:89)

This error keeps coming. Apparently your jar in Maven

[2018-10-27 08:43] seratch commented on #82
I don't think so. It seems to be an issue in your project. By the way, are you going to use the library in an Android app? Unfortunately, the library depends on JDK 8+ which means it doesn't work with Android Java.

[2018-10-27 12:33] timkartar commented on #82
Thanks a lot. That probably was the case. I found this API for android https://github.com/pschroen/slack-api-android to solve my case.

[2018-10-27 12:33] #82 closed

[2018-10-28 10:41] tomweinberg1 opened #83 "Mock/TestKit for Jslack"
Hi,

There is any way to mock Jslack or TestKit for testing?

Thanks

[2018-10-28 13:28] seratch commented on #83
Do you mean that you'd like to know ways to create mock objects for `com.github.seratch.jslack.Slack` type? If so, you should be able to do that with any mocking frameworks such as mockito.

[2018-10-29 08:52] tomweinberg1 commented on #83
I would link to use jslack at E2E and IT tests.
Use mockito is one of the solutions, But I am not sure it good enough for E2E tests.

[2018-11-06 16:18] seratch commented on #83
I'm not sure what the E2E tests in your case actually are, but if you need a mock object for `Slack` objects or any classes in jSlack library, I believe that it should be possible without any problems. If a specific class can be a blocker for your testing, let me know. Let me close this issue. If you have additional topics or feature requests, feel free to open another one or re-open this.

[2018-11-06 16:18] #83 closed

[2018-12-04 01:55] wangdaqian08 opened #84 "Jboss Wildfly 10.0.1 NoSuchMethodException com.github.seratch.jslack.api.rtm.RTMClient.<init>()"
I was using Spring annotation inject the Slack class, but the server failed to deploy and throws

`java.lang.RuntimeException: java.lang.NoSuchMethodException: com.github.seratch.jslack.api.rtm.RTMClient.<init>()`

The full stack track of exception is:

[code]

When I deploy the project to Jboss standalone, there is no problem, any suggestion on how to fix this problem.

- jslack: 1.1.6

- jboss/w

[2018-12-04 15:06] shaburov opened #85 "RMI thread Deadlock"
`take()` is not the best solution for the`BlockingQueue<Runnable>`

System props
[code]
Parking threads
<img width="1383" alt="image" src="https://user-images.githubusercontent.com/15269131/49449444-eff53580-f7eb-11e8-9506-d1e5e3cde43f.png">

CPU Time
<img width="1401" alt="image" src="https://user-images.githubusercontent.com/15269131/49449603-4d898200-f7ec-11e8-9b5a-39b57ce23fe0.png">

CPU sampl

[2018-12-04 15:09] shaburov commented on #85
UPD
<img width="658" alt="image" src="https://user-images.githubusercontent.com/15269131/49451191-b0c8e380-f7ef-11e8-8e46-2a7c44f9e261.png">

[2019-01-14 16:47] jamesrloveday opened #86 "Unable to post response message back to slack channel"
Hi this might be a bit noddy so forgive me if I'm missing something, I've worked off your docs and have produced this section of code to post a response back as a bot user to the originating channel.

Slack slack = Slack.getInstance();
        ApiToken token = ApiToken.of("TOKEN");

 if(message.event.text.contains("test")) {
            ChatPostMessageResponse postResponse = slack.methods().chatPo

[2019-01-15 02:56] seratch commented on #84
It seems to be a binary compatibility issue on WS related classes. Make sure if the loaded versions of the following dependencies in your environment.  https://github.com/seratch/jslack/blob/1.1.6/pom.xml#L70-L81

[2019-01-15 02:59] seratch commented on #85
I am sorry for my belated response to this. Thank you for the detailed report. We need to improve this in some way.

[2019-01-15 03:00] seratch commented on #86
I'm not sure what your problem is yet.

[2019-01-15 09:56] jamesrloveday commented on #86
So basically I'm trying to rule out that I have made an incorrect use of the code, from what I've posted going off the examples it seems as though it should be working, but isn't I'm not sure where the problem is but I'm attempting to rule out the code as the issue. If I can rule that out as the problem then I can look towards the corporate infrastructure, proving that the code isn't the issue.

[2019-01-15 10:01] seratch commented on #86
Okay, I’m afraid that there is nothing to do on my side at this moment. Let me close this GirHub issue for now. When you detect something wrong in my library, please feel free to reopen this or create another one.

[2019-01-15 14:19] #86 closed

[2019-01-26 10:56] IARI opened #87 "Support for the files.upload thread_ts argument"
File upload apparently supports a thread_ts argument:
https://api.slack.com/methods/files.upload

Currently it is not part of the `FilesUploadRequest` class.
It would be very useful to include this parameter. unless it is currently with jslack possible to upload a file and post it as a response to a thread in another way

[2019-01-30 11:34] Li0n13 opened #88 "Message misses "edited" field"
Message misses "edited" field
![3](https://user-images.githubusercontent.com/12965346/51978734-afd0cd00-2493-11e9-8ddb-e85ec3082ed4.JPG)
Can you add it?

[2019-01-30 11:39] seratch commented on #87
Thank you for your request. It seems to be fairly easy fix. If you're interested in contributing to this library and have time to work on it, could you send a pull request on this issue?

[2019-01-30 11:39] seratch commented on #88
Sure. If you're in a hurry, sending a pull request would be appreciated.

[2019-01-30 23:40] #88 closed

[2019-01-30 23:51] seratch commented on #87
I had a time to work on this issue. I've fixed this by myself. #90

[2019-01-30 23:57] #87 closed

[2019-01-31 00:08] seratch commented on #87
Just released in version 1.1.7

[2019-02-06 23:36] rahulsom opened #92 "session closed: 0, reason: The decoded text message was too big for the output buffer and the endpoint does not support partial messages"
Long-time user, first-time reporter here. Thanks for building this library. It is great.

From time to time, my app is rendered useless with this message

[code]

Once that happens, the `com.github.seratch.jslack.Slack` instance needs to be discarded. Since I'm creating it as a Spring Bean, and the instance is autowired, I end up restarting the application.

My current close handler only updates t

[2019-02-07 02:04] seratch commented on #92
I've not investigated your situation on my end yet but, at least, I can say that you don't need to reboot the entire application. `RTMClient` doesn't depend on any states inside your singleton Slack instance except for `wssUrl`. So, I guess, when you have the unexpected shut down of the RTM client, you should be able to recover it by just calling `RTMClient#disconnect()` then `RTMClient#connect()`

[2019-02-07 18:38] rahulsom commented on #92
Weirdly, that did not work.
I stopped making `Slack` a bean and instead created a holder that was a bean, had it discard and recreate the `Slack` object and initialize it.
That works, and for now, my problem is gone.

I'll leave this open to investigate the `The decoded text message was too big for the output buffer and the endpoint does not support partial messages` error.

Thanks!

[2019-02-14 12:20] seratch commented on #92
Thank you for your response. I'm fine to leave this issue open, too.

[2019-03-03 03:17] seratch opened #96 "Support Block Kit"
https://api.slack.com/block-kit

[2019-03-09 17:06] dashorst opened #97 "Upgrade oss-parent to 9"
The latest version of the oss-parent POM is 9. jslack currently uses version 7.

I'll craft a PR for this, but need to reference an issue nr in it.

[2019-03-09 17:09] dashorst commented on #96
Are you working on this, or should I give it a try?

[2019-03-09 21:58] #97 closed

[2019-03-09 21:58] seratch commented on #96
@dashorst I've not started working on this. It would be appreciated if you could work on this.

[2019-03-10 13:21] dashorst opened #100 "Some tests fail because of non-specific user selection"
Some tests failed because the slackbot user was selected instead of an
actual user or bot. Apparently you can't invite the slackbot to a channel,
or ask about its bot-info.

[2019-03-10 13:29] #100 closed

[2019-03-11 23:26] #96 closed

[2019-03-15 05:23] meledin opened #104 "chatUpdate does not support Blocks"
`chatPostMessage` is able to submit a block due to the following code.

[code]

While the `chat.update` method in the Slack API [supports](https://api.slack.com/methods/chat.update) processing blocks, the same method is not available in the jslack API, I assume due to an omission.

[2019-03-15 05:56] seratch commented on #104
@meledin Thanks. You're right. We need to support `chat.postEphemeral` and `chat.update` as well. I just pushed a change to fix this at https://github.com/seratch/jslack/commit/9132336608e29acea7f19647fa7ace97f3f5ded7 I will make sure if it surely works later.

[2019-03-16 01:09] #104 closed

[2019-03-16 11:45] stefan-reich opened #106 "Some test failures under certain specified conditions"
Hi, I'm compiling the latest release (1.2.2) and get many errors:

[code]

Also, "mvn package -Dskiptests" still runs the tests...

[2019-03-16 11:46] stefan-reich opened #107 "Fat Jar"
Hi,

I am using a Maven-free environment (have my own infrastructure) for deployment and would like to obtain an "uber-jar" for jSlack.

Any easy way to do get this?

Thanks

[2019-03-16 12:40] seratch commented on #106
What do you mean by this? Do you the stack trace you posted?

Does your workspace have `#general` channel (the test requires `#general` channel at this moment)? Does only `Slack_blockkit_Test` fail in your environment?

[2019-03-16 12:41] stefan-reich commented on #106
You need a workspace to build jslack? Didn't know that. I just downloaded
the sources and ran "mvn package". Can I compile without a workspace?

On Sat, 16 Mar 2019 at 13:40, Kazuhiro Sera <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de // Java-based operating systems

[2019-03-16 12:42] seratch commented on #106
You can skip running tests with `-Dmaven.test.skip=true`

[2019-03-16 12:42] seratch commented on #106
For any maven commands

[2019-03-16 12:43] stefan-reich commented on #106
OK, it compiled, thanks!

[2019-03-16 12:43] #106 closed

[2019-03-16 12:48] seratch commented on #107
I guess having a tiny Maven project to package a uber jar would be the straight-forward way. Things you need to do in the project should be:

* Enable [maven shade plugin](https://maven.apache.org/plugins/maven-shade-plugin/index.html) in pom.xml
* Add jslack library to dependencies in pom.xml
* package the uber jar

This one seems to be a general technical question. If this answer is helpful for

[2019-03-16 13:29] stefan-reich commented on #107
OK, I got it! Here's my modified pom.xml in case that helps other developers too.

[code]

Thanks

[2019-03-16 13:29] #107 closed

[2019-03-18 10:26] stefan-reich opened #108 "Add convenience method for user_typing?"
It might be a nice addition maybe? Currently I do:

[code]

It's in my fancy language JavaX, but you get what it does, I'm sure...

[2019-03-18 13:10] seratch commented on #108
What do you mean by this? I really don't understand the intention yet. Do you mean having some utility classes/methods to enable library users to build message objects?

[2019-03-18 13:11] stefan-reich commented on #108
I mean a message like Slack.sendTyping(String channelID);

On Mon, 18 Mar 2019 at 14:10, Kazuhiro Sera <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de // Java-based operating systems

[2019-03-18 13:23] seratch commented on #108
When/how to use the method? RTM is a kind of event subscription. Your Slack applications just receive `user_typing` event when the user action happens. Also, the `sendMessage` API can send only simple text messages. https://slack.dev/node-slack-sdk/rtm_api

[2019-03-18 13:24] stefan-reich commented on #108
I am using this to make the bot send an "is typing..." event itself. Helps
the user interaction :-)

On Mon, 18 Mar 2019 at 14:23, Kazuhiro Sera <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de // Java-based operating systems

[2019-03-18 14:09] seratch commented on #108
Ah, okay. I got your point. I misunderstood the `sendMessage` API. Indeed, having some methods like `RTMClient#sendTypingEvent(String channelId)`, `#sendMessageEvent(String channelId, String text)` may be more easy-to-use.

[2019-03-22 10:30] stefan-reich opened #109 "RTMClient may stop receiving events from Slack Platform"
Hi, is this a known issue?

When the bot runs for a longer time, sometimes it stops receiving messages from Slack. :/

Restarting the library is probably easy... but the major question here is how I would even detect the problem from within the bot. The bot just thinks there are no new events.

Edit 1: I investigated a bit and RTMClient.currentSession is null.

Edit 2: Ah, I should add an error ha

[2019-03-22 18:05] kennethwty opened #110 ".text() doesn't automatically collapse"
Hi seratch,

When I pass some long text as the argument to the .text() method, the text that is sent to the slack channel does not collapse to show "Show more...". Is there a way to get the text collapsed?

Thanks.

[2019-03-22 18:29] kennethwty commented on #110
Issued Solved

[2019-03-22 23:42] seratch commented on #110
I guess you switched to `attachments`? Please allow me to close this issue.

[2019-03-22 23:42] #110 closed

[2019-03-23 00:21] seratch commented on #109
As long as the underlying wss uri is vaild, calling `rtm.disconnect()` and `rtm.connect()` then should work for you.

[2019-03-23 07:37] seratch commented on #109
I realized that disconnect and connect doesn’t work. I started working on improvements of RTMClient. Will make a PR and ship a new version including those soon.

[2019-03-25 01:47] seratch commented on #109
@stefan-reich I've implemented `reconnect()` method in `RTMClient`. This one does a complete refresh of the client state. Calling `disconnect()` then `reconnect()` should be effective for the case. If you try the method out and find it seems to be working well, I would like you to close this issue then.

[2019-03-25 01:48] seratch commented on #109
The source code: https://github.com/seratch/jslack/blob/1.3.0/src/main/java/com/github/seratch/jslack/api/rtm/RTMClient.java#L101-L117

[2019-03-25 01:49] seratch commented on #108
JFYI: I am planning to work on the enhancement regarding RTM messages.

[2019-03-25 01:55] seratch commented on #92
I realized that calling `RTMClient#disconnect()` then `RTMClient#connect()`surely doesn;t work for the case. So, since version 1.3.0, I've added [`RTMClient#reconnect()`](https://github.com/seratch/jslack/blob/1.3.0/src/main/java/com/github/seratch/jslack/api/rtm/RTMClient.java#L101-L117) which works for any cases.

Also, I applied the changes to `RTMClient` regarding its behavior when receiving s

[2019-03-25 01:56] seratch commented on #84
@wangdaqian08 Do you still have this problem? Let me know if there is something I can do for you. If I don't hear from you for a while, please allow me to close this issue sometime in the future.

[2019-03-25 03:11] wangdaqian08 commented on #84
thanks for asking @seratch, I decide no longer to use this api library, appreciate all of your time and help

[2019-03-25 03:15] seratch commented on #84
Thank you for your response.

[2019-03-25 03:15] #84 closed

[2019-03-29 19:26] duchino opened #113 "Question: Cannot compile the code without annotation processor settings"
I cannot build the lib.
for example Slack.jave this builder() method is not in WebhookResponse
[code]

[2019-04-01 07:14] seratch commented on #113
@duchino This library depends on [Lombok](https://projectlombok.org/). Enable annotation processors on your IDE.

[2019-04-01 09:39] seratch commented on #108
To begin with, I'm going to provide the Java types to map JSON data. ref: #69

[2019-04-01 09:47] #78 closed

[2019-04-01 09:48] seratch commented on #78
I've modified the `File` object by #115 . I will release a new version which includes the changes very soon.

[2019-04-07 23:07] seratch commented on #69
@faissaloo I've added some supports for this since version 1.4.0. Try them out.

* https://github.com/seratch/jslack/blob/1.4.0/src/test/java/com/github/seratch/jslack/Slack_rtm_typesafe_Test.java
* https://github.com/seratch/jslack/tree/1.4.0/src/main/java/com/github/seratch/jslack/api/model/event

[2019-04-07 23:07] seratch commented on #113
@duchino Can I close this issue if you don't have updates?

[2019-04-07 23:09] seratch commented on #108
@stefan-reich Since 1.4.0, you can build RTM messages with the newly added typesafe object builder. https://github.com/seratch/jslack/blob/1.4.0/src/test/java/com/github/seratch/jslack/Slack_rtm_Test.java#L120-L123

[2019-04-11 13:47] stefan-reich commented on #109
Thanks. I don't think I am seeing any errors though, apparently the connection dies silently...

[2019-04-11 13:59] stefan-reich opened #120 "Find out my own bot ID"
Hi,

is there an easy way to find out as which bot I am logged in?

(I want to respond to other bots' messages, but not to my own.)

Thanks

[2019-04-11 14:01] seratch commented on #109
If you’re using an old version, the situation might happen because old implementation terminates the connection once it receives an error in a session. Could you try the latest version?

[2019-04-11 15:03] stefan-reich commented on #109
OK, I upgraded to 1.4.2

[2019-04-11 17:42] shubhvashisht opened #121 "Events API | incoming json is not deserialized to the respective payload completely"
I am using jslack's event dispatcher feature to handle the incoming events from the event APIs and get the payload generated from SDK itself.

It appears that the SDK is not generating the complete payload successfully and is dropping some attributes form the incoming JSON.

As per my analysis the attributes where there is "camelCasing" are getting dropped from the converted object. Further, it ap

[2019-04-11 18:48] shubhvashisht commented on #121
sorry, this is not an issue. I somehow had the incorrect input JSON.

[2019-04-11 18:48] #121 closed

[2019-04-11 21:39] seratch commented on #121
You're an early adopter! Thank you for using the event dispatcher.

[2019-04-11 21:44] seratch commented on #120
If you have the user id, you should be able to get user.profile.botId here: https://github.com/seratch/jslack/blob/1.4.2/src/main/java/com/github/seratch/jslack/api/model/User.java#L60

Did I answer your question? (honestly, I'm not sure what your question is yet)

[2019-04-11 22:00] stefan-reich commented on #120
Well all I have at first is the slack RTM token. I use the token to make an RTMClient. Then I can post messages using the RTMClient. Those messages will have a certain bot ID. Once I have posted a message, I will see the bot ID. But I want to find out the bot ID without having to post anything.

Is that clearer?

Thanks for your support

[2019-04-11 22:17] seratch commented on #120
I understand it now. You can get the user information here: https://github.com/seratch/jslack/blob/1.4.2/src/main/java/com/github/seratch/jslack/api/rtm/RTMClient.java#L42-L45

[2019-04-11 22:25] seratch commented on #120
Oops, getter method is available. https://github.com/seratch/jslack/blob/1.4.2/src/main/java/com/github/seratch/jslack/api/rtm/RTMClient.java#L189-L191

[2019-04-12 10:18] stefan-reich commented on #120
Thanks! That should do it.

[2019-04-12 12:49] stefan-reich commented on #120
There is a problem - the user object returned by getConnectedBotUser has no profile...:

`User(id=UHFR71FUJ, teamId=null, name=bot_tester, deleted=false, color=null, realName=null, tz=null, tzLabel=null, tzOffset=null, profile=null, admin=false, owner=false, primaryOwner=false, restricted=false, ultraRestricted=false, bot=false, stranger=false, appUser=false, updated=null, has2fa=false, twoFactorT

[2019-04-12 23:05] seratch commented on #120
Ideally, `user.profile` should be also included but we can call `users.info` web api with the `user.id`.

[2019-04-12 23:21] stefan-reich commented on #120
So *I* have to investigate this? Not you?

On Sat, 13 Apr 2019 at 01:05, Kazuhiro Sera <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de // Java-based operating systems

[2019-04-12 23:26] seratch commented on #120
This is not an issue. I didn't mention in the reply but I know the information is not complete. The user info came from `self` here. Thus, you need to fetch complete user info by calling web api. https://api.slack.com/methods/rtm.connect

[2019-04-12 23:29] seratch commented on #120
It may be possible to have jslack-specific option to automatically fetch complete user info to rtm.connect. I don’t have a plan to do that so far, though.

[2019-04-12 23:53] seratch commented on #120
After thinking about this for a while, I've changed my mind. When I implemented the field, I thought that holding only the attributes Slack API returns. But it is quite confusing to library users because the field/method returns a `User` object. I will work on the improvement this weekend. If you're in a hurry to implement your apps, please call users.info method API manually.

[2019-04-13 07:04] seratch commented on #120
@stefan-reich Since version 1.4.3, you don't have the above problem. Try the latest version out.

[2019-04-14 14:26] faissaloo commented on #69
Sorry @seratch I'm no longer working with this library anymore.

[2019-04-14 14:27] seratch commented on #69
Okay, thanks for your response. Let me close this.

[2019-04-14 14:27] #69 closed

[2019-04-17 09:15] namedgraph opened #126 "InputStream from response"
Hi, how can I get an `InputStream` from `ConversationsHistoryResponse` (or any `Response` really)? I want to read raw JSON data.

[2019-04-17 09:29] namedgraph commented on #126
Example from Google's api-client-library:
https://developers.google.com/api-client-library/java/google-api-java-client/reference/1.20.0/com/google/api/client/googleapis/services/AbstractGoogleClientRequest#executeAsInputStream()

[2019-04-17 09:37] seratch commented on #126
You can access raw okhttp responses if you write some similar code to this internal method. https://github.com/seratch/jslack/blob/1.4.3/src/main/java/com/github/seratch/jslack/api/methods/impl/MethodsClientImpl.java#L1437

[2019-04-17 10:01] seratch commented on #126
okhttp’s Response class offers a method to extract request body data as input stream.

[2019-04-17 10:52] namedgraph commented on #126
I'm looking into it. Some remarks:

I think if `ChannelsHistoryRequest` and similar would be based on a map and extend `FormBody.Builder`, there would be no need to do the mappings between the two in `MethodsClientImpl` and the code would be much more generic.

I think Google client's approach

    Request req = service.method();
    Response resp = req.execute();

is more flexible than

    Reque

[2019-04-17 11:09] namedgraph commented on #126
I wrote such a method

    public static InputStream buildResponse(Response response) throws IOException, SlackApiException {
        if (response.code() == 200) {
            return response.body().byteStream();
        } else {
            String body = response.body().string();
            throw new SlackApiException(response, body);
        }
    }

but looks like it's too much work converting

[2019-04-18 05:24] seratch commented on #126
@namedgraph What do you think about #127 ? I'm going to merge the PR soon.

[2019-04-18 14:07] cjcdoomed opened #128 "ChatUpdate for blocks doesn't update the message"
https://github.com/seratch/jslack/blob/b484515bcb0d9fbaa15167a98850cb1b13b8948c/src/test/java/com/github/seratch/jslack/Slack_blockkit_Test.java#L95

When you run the test you get ok=true in the response
`ChatUpdateResponse(ok=true, warning=null, error=null, channel=xxxxx, ts=1555595439.003400, text=Modified text)
`
However if you look at the message, the additional divider block after the Actions

[2019-04-29 21:59] shubhvashisht opened #140 "Slash command response is only visible to the user instead of everyone in the channel. It appears that the "response_type" property is missing from the PayLoad builder class."
![image](https://user-images.githubusercontent.com/34352242/56929776-64788b80-6a8f-11e9-8cec-5d63acfa92f4.png)

[2019-04-29 22:33] seratch commented on #140
`SlashCommandPayload` in this library means an incoming message from Slack Platform.

To respond to the command execution, use `SlashCommandResponse` to build the response body.
* https://github.com/seratch/jslack/blob/1.5.2/src/main/java/com/github/seratch/jslack/app_backend/slash_commands/response/SlashCommandResponse.java#L14
* https://github.com/seratch/jslack/blob/1.5.2/src/main/java/com/gith

[2019-04-29 22:35] seratch commented on #140
Could you close this issue if my answer is helpful?

[2019-04-29 22:55] shubhvashisht commented on #140
thanks. I will review this.

[2019-04-29 22:55] #140 closed

[2019-04-29 23:00] shubhvashisht commented on #140
Looks like 1.5.2 is a major change from 1.4.2.  Is there a documentation on
what changed?

On Mon, Apr 29, 2019 at 3:35 PM Kazuhiro Sera <notifications@github.com>
wrote:

[2019-04-29 23:04] seratch commented on #140
The documents for new modules don’t exist yet. Will do later.

[2019-04-30 03:15] seratch commented on #140
@shubhvashisht #142 should be helpful to know how to use them.

[2019-04-30 03:49] seratch commented on #120
I believe that this problem has been fixed since version 1.4.3. Please allow me to use this issue in a few days if I won't get any responses from people here.

[2019-04-30 03:50] seratch commented on #109
I believe this issue is no longer happening. Please allow me to close this in a few days.

[2019-04-30 03:51] seratch commented on #108
These APIs are my answers to this issue. Let me close this issue now. Feel free to reopen this or create another one if you have something to add / discuss further. https://github.com/seratch/jslack/blob/1.5.2/src/test/java/com/github/seratch/jslack/Slack_rtm_Test.java#L199-L220

[2019-04-30 03:52] #108 closed

[2019-04-30 03:53] seratch commented on #92
Let me know if I should not close this issue. Otherwise, please allow me to close this within a few days.

[2019-04-30 03:56] seratch commented on #67
I've automated the detection of missing attributes in responses. Thanks to that, I believe that I managed to add missing attributes like the `response_metadata` pointed out here. https://github.com/seratch/jslack/blob/1.5.2/src/main/java/com/github/seratch/jslack/api/methods/response/conversations/ConversationsListResponse.java#L20

Please allow me to close this now. But, if you find something wro

[2019-04-30 03:56] #67 closed

[2019-04-30 03:56] seratch commented on #126
Please allow me to close this issue by #127.

[2019-04-30 03:56] #126 closed

[2019-04-30 05:04] rahulsom commented on #92
Thanks! I haven't seen this problem in a while.

[2019-04-30 05:04] #92 closed

[2019-04-30 06:02] seratch commented on #113
Please allow me to close this issue. If you have something to add or discuss further, please feel free to reopen it.

[2019-04-30 06:02] #113 closed

[2019-04-30 14:12] stefan-reich commented on #120
I'm using the users.info method and it works, thanks.

On Tue, 30 Apr 2019 at 05:49, Kazuhiro Sera <notifications@github.com>
wrote:

--
Stefan Reich
BotCompany.de // Java-based operating systems

[2019-04-30 21:54] #120 closed

[2019-05-01 14:43] maury33308 opened #143 "Chat fails when using a trustStore"
I need to make HTTPS calls to my server using a trustStore and when I add -Djava.net.ssl.trustStore=trustStore.jks to my application launch command, my calls to Slack fail with the error 'unable to find valid certification path to requested target'.

Is there a certificate I need to import into my trustStore so I can access both my application and Slack?

Thanks,

[2019-05-02 01:56] seratch commented on #143
I'm not an expert on this matter yet but it seems that `okhttp` doesn't support the JVM option. Instead, we can call `OkHttpClient.Builder#sslSocketFactory(..)` in Java code to set up the configuration.

* https://square.github.io/okhttp/3.x/okhttp/okhttp3/OkHttpClient.Builder.html#sslSocketFactory-javax.net.ssl.SSLSocketFactory-javax.net.ssl.X509TrustManager-
* https://stackoverflow.com/questions

[2019-05-08 00:58] seratch commented on #109
Allow me to close this issue. Please feel free to reopen this when you have any further topics to discuss here.

[2019-05-08 00:58] #109 closed

[2019-05-08 01:12] seratch commented on #34
After 1.5 years, I've implemented some features to easily build a Slack App backend to handle the scenario discussed here. Actually, it's not possible to receive the event as an RTM events, but we can receive [interactive messages](https://api.slack.com/messaging/interactivity) on our side side.

Check the classes under [this package](https://github.com/seratch/jslack/blob/1.5.5/src/main/java/com/

[2019-05-08 01:12] seratch commented on #34
Please allow me close this issue. Feel free to reopen this when you have something to discuss further here at any time.

[2019-05-08 01:12] #34 closed

[2019-05-08 01:15] seratch commented on #4
I looked at this a little bit before and thought that it would be possible to support proxy. But I need more time. If someone knows very well about [Project Tyrus](https://github.com/tyrus-project/tyrus), I would love to hear some advice on how to properly implement it in this project.

[2019-05-09 20:08] shubhvashisht opened #149 "state, notify_on_cancel are unsupported in dialogs.open API"
The dialog class doesnt have the state and notify on cancel properties. These two properties are available as per Slack's documentation.

[2019-05-09 22:54] seratch commented on #149
The documentation: https://api.slack.com/dialogs

[2019-05-09 22:55] #149 closed

[2019-05-09 23:07] shubhvashisht commented on #149
by when this will be available to be downloaded from maven?

[2019-05-09 23:59] seratch commented on #149
Just released 1.5.7. The version will be available on the Maven Central repositories within a few hours. https://github.com/seratch/jslack/compare/1.5.6...1.5.7

[2019-05-24 06:35] efulmo opened #157 "Add support of the BlockKit to attachments"
Ofgicial documentatiin claims to support `blocks` in attachment. Although there is a workaround for `chat.postMessage`, there is no such one for `chat.unfurl` that consumes only attachments. Please add it.

[2019-05-24 16:31] seratch commented on #157
Thank you for this feature request. You're right. We should have `blocks` in an `Attachment`. https://api.slack.com/changelog/2018-12-a-bric-a-brac-of-broadcasts-built-with-blocks#how_do_i_prepare

I will work on it soon and the change will be included in a next release (possibly this weekend or early next week, JST)

[2019-05-29 07:19] anatolyw opened #158 "iconEmoji is not displayed by Slack"
In my Spring Component I have implemented PostConstruct to test that WebHook is configured properly as it is shown below. I see the message and attachment in Slack, but I don't see emoji.

[code]

[2019-05-29 07:34] seratch commented on #158
Could you share the actual screenshot on Slack?

[2019-05-29 08:04] anatolyw commented on #158
![Screen Shot 2019-05-29 at 10 03 27](https://user-images.githubusercontent.com/16581001/58540172-1e7f2680-81f9-11e9-84f9-b3bc25c05908.png)

[2019-05-29 08:47] seratch commented on #158
Thanks. hmm, I'm not sure about the cause of it yet. What happens if you send the same parameters via `curl`?

[2019-05-29 08:49] anatolyw commented on #158
do you have curl example to insert emoji?

[2019-05-29 08:51] seratch commented on #158
https://api.slack.com/tutorials/slack-apps-hello-world#implement_the_webhook
parameter names need to be snake-cased (e.g., iconEmoji -> icon_emoji)

[2019-05-29 09:09] anatolyw commented on #158
I have tried following documentation as:
`curl -X POST -H 'Content-type: application/json' --data '{"text":"Allow me to reintroduce myself!", "icon_emoji":"smiley_cat:"}'  YOUR_WEBHOOK_URL `
Result is the same: no emoji

[2019-05-29 09:11] seratch commented on #158
Thanks. I'm still not sure why the emoji icon doesn't show up but now we figured out it's not a jSlack-specific issue.

[2019-05-29 10:02] anatolyw commented on #158
honestly I cannot find even in the Slack spec for response payloads on different methods that emojis are supported. Maybe they were before, but not any more. Then it would be better to cleanup jslack API in order to avoid such questions. For now feel free to close this issue. Thanks for help.

[2019-05-29 11:34] #158 closed

[2019-05-30 04:34] seratch commented on #157
Update: I'll work on this soon.

[2019-06-04 21:59] seratch commented on #157
@efulmo I just started working on this. If I could know your needs correctly, it would be helpful.

Could you share your workaround with some code examples?

Could you share your ideal way to send blocks in the request?

[2019-06-05 01:27] seratch commented on #157
Never mind regarding `chat.unfurl`. I still would like to know your workaround for `chat.postMessage`.

[2019-06-05 13:56] seratch opened #161 "Outgoing webhook payload class"
Outgoing webhook is not recommended but it's still available & widely used in the wild. Having a Java class to bind parameters should be useful for many people.
https://api.slack.com/custom-integrations/outgoing-webhooks

[2019-06-10 14:33] cassiehanyu opened #162 "MessageEvent is missing threadTs field"

[2019-06-14 06:40] seratch commented on #162
You're right. Will fix this.

[2019-06-14 06:42] #162 closed

[2019-06-14 09:31] UncleFirefox opened #163 "Question: How do you verify the payload coming from EventsAPI?"
Congratulations for the API it's very feature complete. I got one doubt on origin verification. You know you can verify requests on slack according to their practices: https://api.slack.com/docs/verifying-requests-from-slack

Maybe I just missed some part of the code but does the code for EventsAPI get the request headers and do that validation? Before calling the handlers?

Thanks!

[2019-06-14 10:29] seratch commented on #163
The following utility is for AWS lambda but you can do similar in your applications. https://github.com/seratch/jslack/blob/1.6.0-RC2/jslack-app-backend/src/main/java/com/github/seratch/jslack/app_backend/vendor/aws/lambda/util/SlackSignatureVerifier.java

[2019-06-15 02:14] #161 closed

[2019-06-17 21:09] cassiehanyu opened #166 "AppMentionEvent should also have threadTs field"

[2019-06-17 21:23] seratch opened #167 "installer_user, authorizing_user, scopes are missing in OAuthAccessResponse"
installer_user, authorizing_user, scopes are missing in [OAuthAccessResponse](https://github.com/seratch/jslack/blob/1.7.0/jslack-api-client/src/main/java/com/github/seratch/jslack/api/methods/response/oauth/OAuthAccessResponse.java).

https://api.slack.com/methods/oauth.access

[code]

[2019-06-17 21:28] #166 closed

[2019-06-17 21:28] seratch commented on #166
Thanks for your feedback.

[2019-06-17 22:26] #167 closed

[2019-06-19 21:37] efulmo commented on #157
Oh I just meant [ChatPostMessageRequest#blocks](https://github.com/seratch/jslack/blob/master/jslack-api-client/src/main/java/com/github/seratch/jslack/api/methods/request/chat/ChatPostMessageRequest.java#L55-L58) method. I see that you already implemented BlockKit in `chat.unfurl`.

[2019-06-19 21:37] #157 closed

[2019-06-21 17:54] cassiehanyu opened #170 "I think AttachmentActionPayload should also have a threadTs field"

[2019-06-23 09:11] #170 closed

[2019-06-27 09:17] anatolyw opened #172 "Unify interactive component payload processing"
Slack provides single entry point for processing interactive components either it comes from dialog, menu or somewhere else.

CURENT STATE:

- Quite hard to detect and create proper Payload;
- There are two different `PayloadTypeDetector` classes in different packages with absolutely the same code;
- Need to implement if-elseif-else for each particular interaction type;

PROPOSAL:
- move `PayloadT

[2019-06-28 07:28] ndasim opened #173 "Failing on getInstance()"
I'm using 1.7.2 with gradle implementation, while getting instance library crashes.

`    java.lang.NoClassDefFoundError: com.github.seratch.jslack.common.http.listener.DetailedLoggingListener
        at com.github.seratch.jslack.SlackConfig.<init>(SlackConfig.java:27)
        at com.github.seratch.jslack.SlackConfig$1.<init>(SlackConfig.java:14)
        at com.github.seratch.jslack.SlackConfig.<c

[2019-06-28 07:47] seratch commented on #173
Can you provide more detailed information? (os, jdk version, build.grade etc)

[2019-06-28 07:56] seratch commented on #172
I really don't understand your intention yet. What is the benefit we gain by calling `PayloadFactory.getPayload` and getting the minimum `Payload` type object? I'm afraid that library users have to do down-casting to `XyzPayload` afterwards.

[2019-06-28 08:00] seratch commented on #163
@UncleFirefox Do you have any further questions or comments? If not, let me close this issue within a few days.

[2019-06-28 08:01] seratch commented on #143
@maury33308 Do you have any further comments? Otherwise, let me close this issue with a few days.

[2019-06-28 08:07] UncleFirefox commented on #163
How would you do it within this example?

[code]

[2019-06-28 08:13] seratch commented on #163
Sorry, I don't understand your point here.

Generally speaking, you should verify the signature header before calling the `EventsDispatcher`.

[2019-06-28 14:36] UncleFirefox commented on #163
Sorry for the missunderstanding:

[code]

In the doPost method on `SlackEventsApiServlet` I think that we could verify that the token is signed correctly, potentially passing some configuration, this should be done before handling the url_verification case. Is it more clear now? How would you do it otherwise?

[2019-07-01 05:42] anatolyw commented on #172
While trying to find a best way to process different types of payload I have revised a bit above concept.

Below is how my current code looks like.

Issue is the current "complexity" of GenericPayloadWrapper and need of use reflection API because, `BlockActionPayload`, `DialogSubmissionPayload`, `DialogSuggestionPayload`, `DialogCancellationPayload`, `AttachmentActionPayload` and `MessageActionPay

[2019-07-02 03:21] seratch commented on #172
Thanks. If I would update jslack library to enable users to handle a variety of payloads, I will go with a similar design to bolt framework. https://slack.dev/bolt

[code]

[2019-07-02 03:46] seratch commented on #163
I'm not sure what you meant by the `config` here but if you mean a kind of Spring component to inject,  I don't have any plans to implement some components specific to Servlet API or Web frameworks like Spring in the short term. If you would like to have some reusable component for the purpose, you need to implement your own one.

[2019-07-02 03:47] seratch commented on #163
If you go with Servlet, implementing a servlet filter to verify requests may be useful.

[2019-07-02 03:49] seratch commented on #143
Allow me to close this issue. If you have more comments in the future, feel free to reopen.

[2019-07-02 03:49] #143 closed

[2019-07-02 03:49] seratch commented on #173
Can I have more information here? Otherwise, allow me close this issue in a few days.

[2019-07-02 04:15] maury33308 commented on #143
Yes thanks. We have resolved the problem.Envoyé depuis mon smartphone Samsung Galaxy.
-------- Message d'origine --------De : Kazuhiro Sera <notifications@github.com> Date : 01/07/2019  23:49  (GMT-05:00) À : seratch/jslack <jslack@noreply.github.com> Cc : maury33308 <mmills@polyres.com>, Mention <mention@noreply.github.com> Objet : Re: [seratch/jslack] Chat fails when using a trustStore (#143) Al

[2019-07-02 05:28] anatolyw commented on #172
Can be also an option. Still don't forget that most people use your library with different dependency injection frameworks as Spring or similar and will try to separate implementation of callbacks for different commands, etc. into different independent classes to make code cleaner.

IMPORTANT: as it will provide this or that way a new major feature, please, start to reflect such changes in CHANGE

[2019-07-02 05:28] #172 closed

[2019-07-02 21:06] linlei99 opened #175 "Missing Guest Channels Properties in User Profile"
Hi,

We have some invited guest users in our Slack. Two properties below are missing in the User Profile class which is causing Gson fails to convert the response Json string to Slack User objects.

"guest_channels" and "guest_invited_by"

Could you please add them in User.java in the master branch so that we can keep our project going?

Thank you so much.

Lei

[2019-07-05 00:05] seratch commented on #175
Thanks for your pull request on this #176
I will release a new version including the change very soon.

[2019-07-05 00:05] #175 closed

[2019-07-05 01:32] seratch commented on #175
version 1.7.3 is out. Thank you for your feedback and contributions!

[2019-07-05 23:16] linlei99 commented on #175
Thank you so much!

[2019-07-07 04:50] seratch opened #179 "Bump okhttp version to 4"
https://square.github.io/okhttp/upgrading_to_okhttp_4/

Based on the above, it seems that we don't need to hurry regarding this, but I will upgrade the library in the near future.

[2019-07-14 13:44] silentsnooc opened #181 "Deserialize payload for interactive-messages"
I am currently trying to deserialize the payload which I receive as somebody clicks on a interactive button.

For this I have a basic endpoint which Slack sends a POST with the payload string:

[code]

but I am not sure how I can use jslack to read this payload. Is this even possible? I couldn't find something.

[2019-07-14 13:57] seratch commented on #181
You can bind request body to these classes> https://github.com/seratch/jslack/tree/1.7.4/jslack-app-backend/src/main/java/com/github/seratch/jslack/app_backend/interactive_messages/payload

[2019-07-14 14:01] silentsnooc commented on #181
@seratch Can I? If I try this:

[code]

it does not work. Do I have to set something in additional here in order to make it work?

[2019-07-14 14:06] seratch commented on #181
Ah, the JSON value will be given as `payload` parameter like `payload=%7B%22type%22%3A%22block_actions%22%2C%22team%22...
`

[2019-07-14 14:07] seratch commented on #173
Let me close this issue. Feel free to reopen this if you revisit and see the necessity to discuss further.

[2019-07-14 14:07] #173 closed

[2019-07-14 14:08] seratch commented on #163
May I close this issue if you don't have any further comments?

[2019-07-14 14:08] silentsnooc commented on #181
@seratch Yes, it does seem so. I didn't find that information in the Slack docs. I found that only by taking a look at the `HttpServletRequest request` instance.

But I have already tried

[code]

without success.

[2019-07-14 14:15] seratch commented on #181
Ah, this library has its own type adapters. Please use `com.github.seratch.jslack.common.json .GsonFactory`> https://github.com/seratch/jslack/blob/1.7.4/jslack-api-client/src/main/java/com/github/seratch/jslack/common/json/GsonFactory.java

[2019-07-14 14:23] silentsnooc commented on #181
@seratch Awesome! Didn't know that. Works without a problem now. I see there are two ways to create a Gson object. I just used `GsonFactory.createSnakeCase()` without providing a configuration:

[code]

I guess that issue can be closed :)

[2019-07-14 14:28] seratch commented on #181
I'm glad to be of your help. Let me close this issue now. Thank you for using this library! 😃

[2019-07-14 14:28] #181 closed

[2019-07-14 14:28] silentsnooc commented on #181
@seratch Thanks for providing this library :)

[2019-07-16 16:02] silentsnooc opened #182 "How to deserialize events?"
Sorry for asking here again but I just can't figure out how to deserialize events. Somehow every single REST endpoint has to work in a different way for Slack ..

I receive interacite messages like this:

[code]
I install apps like this:

[code]

I consume commands like this:

[code]

But I can't figure out what to do with an event.

I am, first of all, interested in returning the `challenge` sent

[2019-07-19 14:25] domdomegg opened #184 "Attachment blocks result in invalid_attachments response"
Attachment blocks (#157) don't work as the JSONified `Attachment` includes booleans: `"is_msg_unfurl":false,"is_reply_unfurl":false,"is_thread_root_unfurl":false,"is_app_unfurl":false` which cause Slack to give an `invalid_attachments` response.

Probably needs a solution similar to #70

[2019-07-19 17:49] #184 closed

[2019-07-19 17:52] seratch commented on #182
You can bind event payloads to these classes: https://github.com/seratch/jslack/tree/master/jslack-app-backend/src/main/java/com/github/seratch/jslack/app_backend/events/payload

[2019-07-22 08:07] domdomegg opened #187 "Attachment blocks result in invalid_attachments response"
Attachment blocks (#157) don't work as the JSONified Attachment includes boolean `"indent":false` which causes Slack to give an invalid_attachments response. Thought I had got all of them, but think this got added in the latest release :(

Working on a solution similar to #184

[2019-07-22 12:08] #187 closed

[2019-07-27 17:02] seratch commented on #182
@silentsnooc Did I answer your question? If you have more comments, let me know. Otherwise, please allow me to close this issue sometime soon.

[2019-07-29 16:29] silentsnooc commented on #182
Ah yes, I think that worked for me. I'll close that issue :)

[2019-07-29 16:29] #182 closed

[2019-07-30 21:58] shubhvashisht commented on #163
The issue is when the slack signature is verified before calling the dopost method of the super class the body of the req object is read and is nulled out. Due to this the below line "String requestBody = req.getReader().lines().collect(Collectors.joining(System.lineSeparator()));" throws an exception.

If you could overload this method to also accept header and request body separately then it wil

[2019-07-30 22:24] seratch commented on #163
@shubhvashisht

OK, you're talking about this implementation, right?
https://github.com/seratch/jslack/blob/1.7.8/jslack-app-backend/src/main/java/com/github/seratch/jslack/app_backend/events/servlet/SlackEventsApiServlet.java#L40

I understand reading request body this way could be problematic for some cases.

I don't understand your point here yet. If you mean having a method to read and store r

[2019-07-31 20:58] shubhvashisht commented on #163
Let me try to rephrase the issue that I am facing in the signed secret authentication for the events API.

The code you suggested above will perform the following in sequence:

1. Cache the request body
2. Enque the request
3. Pass the control to the subscribed event handler

My concern over here is that I want to validate the incoming request even before calling this function to enque the request

[2019-07-31 21:46] seratch commented on #163
Ah you’re right. I totally thought that the servlet implementation does such validation but it doesn’t. It should be improved.

[2019-08-01 15:22] shubhvashisht commented on #163
let me know if you would want me to work on it?

[2019-08-01 23:34] seratch commented on #163
I can work on this but if you're interested in contributing to this library, of course, I welcome your PRs!

[2019-08-02 20:49] shubhvashisht commented on #163
submitted the PR

[2019-08-03 04:19] #163 closed

[2019-08-03 04:21] seratch commented on #163
The feature requested by @shubhvashisht here has been merged in #194.  I will release a new version today. If you have further comments regarding this, feel free to reopen this issue or open a new issue for similar topics.

[2019-08-07 07:51] gagara11 opened #197 "conversationsReplies does not support all parameters"
ConversationsRepliesRequest does not support all parameters. Such as inclusive, latest and oldest.
Problem in RequestFormBuilder class in method toForm(ConversationsRepliesRequest)

[2019-08-07 14:00] seratch commented on #197
Good catch. Thank you for pointing it out. I will work on the fix. If you're interested in contributing to this library, your PRs are always welcome.

[2019-08-08 09:39] denismakogon opened #198 "Unable to module modules with jslack"
trying out a simple slack API within a module, but seeing this problem
[code]
it doesn't seem like jslack was ever adjusted to work with Project Jigsaw (java 9 modules).

[2019-08-08 10:10] seratch commented on #198
Thank you for your feedback. Honestly, I'm not familiar with making libraries compatible with Java modules yet but I'd love to make jslack modules-ready. Could you help me?

[2019-08-08 15:45] seratch opened #200 "Complete support for SCIM APIs"
jslack currently supports only `DELETE /scim/v1/Users/{id}`.

SCIM API document is available here: https://api.slack.com/scim

[2019-08-08 15:46] #197 closed

[2019-08-11 02:29] #200 closed

[2019-08-17 13:11] #179 closed

[2019-08-19 09:15] davidkarlsen opened #206 "changelog?"
Do you have a changelog of some sorts? What changed between 1.x and 2.x?

[2019-08-19 09:27] davidkarlsen opened #207 "no way to assert OK outcome from a userDelete request in 1.8.x and 2.0.x"
The userDeleteResponse used to have properties to check for a OK outcome:
[code]

The updated api does not have any attributes to query for outcome. Does this mean it will be checked by the API (e.g. userDelete() will raise an exception if some problem?)

[2019-08-19 13:05] seratch commented on #207
Sorry for the confusion. I'm ashamed to say that the previous implementation was totally wrong and that's the reason I decided to break backward compatibilities. Actually, the flag we had before doesn't work as you expect. The only reason we had it was that we just inherited the same interface with other APIs.

It depends on SCIM API's behavior but we have no ways to check if the deletion succeede

[2019-08-19 13:08] seratch commented on #206
We don't have CHANGELOG document for this project (I agree we should have it tho).

We haven't applied many changes this time but we just decided to break the compatibilities a bit. Please check the code diff merged in the releases. 🙇  https://github.com/seratch/jslack/compare/1.8.0...2.0.0

[2019-08-19 13:23] davidkarlsen commented on #207
Ok. Then this is just how it is.
Thanks!
Closing

[2019-08-19 13:23] #207 closed

[2019-08-22 17:44] jlorper opened #208 "Conversation model mismatches type for "is_moved""
I recently updated the library from 1.5.7 to 1.8.1 and got the following exception
`com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected a boolean but was NUMBER at line 1 column 296 path $.channels[0].is_moved`

Seems this new field "is_moved" was added on PR #169 [line](https://github.com/seratch/jslack/pull/169/files#diff-271b50cd9210c321a801dcf1355b09e9R74
)
[code]

B

[2019-08-23 00:12] seratch commented on #208
Ah, my bad. We should have tests to verify jslack successfully parses sample JSON data. Will fix this very soon and release a new version asap.

[2019-08-23 07:35] #208 closed

[2019-08-24 03:22] #206 closed

[2019-09-11 20:22] d-subrahmanyam opened #214 "Use json-path to detect a event type in the EventsDispatcherImpl"
I was wondering the _detectEventType_ in the **EventsDispatcherImpl** could be improved by using the json-path (https://github.com/json-path/JsonPath) library.

[code]

[code]

[2019-09-12 02:57] d-subrahmanyam commented on #214
Can you please review this gist?
https://gist.github.com/d-subrahmanyam/f0ef0fed69319914511fd9ea720f12d0

[2019-09-12 04:48] seratch commented on #214
@d-subrahmanyam I don't have plans to add dependencies for this purpose at this point. I believe that providing an interface named `EventTypeExtractor` is a solution to this. Are you fine with this?
https://github.com/seratch/jslack/commit/7fce72481f5afe006ab34f0db0a924e895284ab4

[2019-09-24 01:28] jhg023 commented on #198
@seratch I'd be happy to submit a pull request to fix this, while still maintaining Java 8 compatibility.

[2019-09-24 08:00] tutufool opened #216 "How to specify timeout when creating rtm session?"
sometimes, I got below exception:

Caused by: java.net.SocketTimeoutException: Read timed out
	at java.net.SocketInputStream.socketRead0(Native Method)
	at java.net.SocketInputStream.socketRead(Unknown Source)
	at java.net.SocketInputStream.read(Unknown Source)
	at java.net.SocketInputStream.read(Unknown Source)
	at sun.security.ssl.InputRecord.readFully(Unknown Source)
	at sun.security.ssl.InputR

[2019-09-24 17:34] d-subrahmanyam commented on #128
Seems like the test itself has an issue.
[code]
There is an issue In the above snippet from `BlockKit_Test.java` at line 178 - `Collections.copy(blocks, newBlocks);`. The  usage of `Collections.copy` is wrong. It's supposed to be `Collections.copy(dest, src)`.

I believe that line is supposed to change to `Collections.copy(newBlocks, blocks);`.

[2019-09-24 22:22] #128 closed

[2019-09-24 22:22] seratch commented on #128
Thanks, both of you. I've fixed the tests.

[2019-09-25 04:53] tutufool commented on #216
Thanks a lot! I'll close it.

[2019-09-25 04:53] #216 closed

[2019-09-25 09:47] d-subrahmanyam commented on #85
Can we have some more context on the issue? I was trying to sift through this, but couldn't help find any reference.

[2019-09-27 23:04] sukumars001 opened #218 "Add attribute authedTeams to Event Payload (Message Payload)"
Slack Event API Payload has an array attribute **authed_teams**. Can this be added to the Event Payload classes, primarily to MessagePayload class (package com.github.seratch.jslack.app_backend.events.payload)?

Sample payload:
[code]
This is required to enable/handle multi-workspace installation of the app.

EDIT: **enterprise_id** is another missing attribute to be added.

[2019-09-28 10:08] seratch commented on #218
@sukumars001 Thanks for flagging this up. I've created a pull request to fix this. Will ship a new version very soon.

[2019-09-28 10:23] #218 closed

[2019-09-30 22:38] seratch opened #220 "rich_text blocks support"
https://api.slack.com/changelog/2019-09-what-they-see-is-what-you-get-and-more-and-less

[2019-10-01 02:08] #220 closed

[2019-10-01 07:19] seratch commented on #27
@Yaskier Please allow me to close this issue. I would like to implement only documented APIs in this project.

[2019-10-01 07:19] #27 closed

[2019-10-07 07:15] Kunpero opened #227 "No multi-users-select element"
Hi, first of all I want to say thanks for this cool lib!

During work on my app I found that there is no multi-users-select element.
I'm ready to create pull request with fix.

[2019-10-07 10:10] seratch commented on #227
Thanks! Multi-select elements have been added by #223 😃 They are available in jslack 2.2.0+

[2019-10-07 10:15] #227 closed

[2019-10-12 11:41] Kunpero opened #230 "ViewState selectedUsers field is missed"
Hi
[code]
is missed in **_ViewState_** class

[2019-10-15 10:18] #230 closed

[2019-10-15 12:35] ozzyaldeny opened #234 "IncomingWebhook is missing in OAuthDefaultSuccessHandler and DefaultInstaller"
Is there a reason why you didnt extract IncomingWebhook from OAuthAccessResponse and store it on DefualtInstaller?

If that is on purpose, how should I communicate with specific channels on Distributed application?

[2019-10-16 02:53] ozzyaldeny opened #235 "ActionContext in AttachmentActionRequest does not extract team_id from the payload"
When I tried to run AttachmentActions, I found that it could not find team_id so did not load Bot or Installer.

It seems that on AttachmentActionRequests, team_id is not extracted from the payload

[2019-10-16 10:08] seratch commented on #234
Thanks for the feedback! Indeed, `DefaultInstaller` should support `IncomingWebhook`. I will create a pull request to fix this before releasing 3.0.0.

[2019-11-01 16:28] Kreisis opened #249 "Incorrect BlockActionPayload definition"
The Action class has a field initialOption of type Option, however, it is not correct,.
It works alright when the block action is submitted through a button click, however it does not work with static inputs.
![paveikslas](https://user-images.githubusercontent.com/22618169/68039456-d77bec80-fcd4-11e9-949d-9f5298533d6b.png)
![paveikslas](https://user-images.githubusercontent.com/22618169/68039647-3

[2019-11-03 12:06] prakashsvmx opened #250 "Slash Command Example"
Please provide Slash Command Example

[2019-11-05 14:22] matteogales opened #252 "RTMClient Connection Failing Silently"
First of all, thank you for writing such a well written API that has made writing a Slack Bot quick and pain free!

Having deployed a Slack application for internal use on AWS, I noticed that after several hours of inactivity (i.e. the application not receiving any messages from Slack, typically overnight) that the connection on the RTMClient appears to die (silently).

I saw that there were "addC

[2019-11-05 16:51] matteogales commented on #252
I have found that periodically checking the connection using a ApiTestRequest, seeing if this can be sent and if so checking the ApiTestResponse, allows me to determine if there is a connection.

If there is no connection (as determined by the above approach), I use the reconnect() method on my RTMClient instance to reconnect to Slack and receive messages once again.

However, It would be helpful

[2019-11-05 22:00] seratch commented on #250
Here are example apps for slash command:
* https://github.com/seratch/jslack/blob/master/jslack-app-backend/src/test/java/test_with_remote_apis/commands/SlashCommandApiBackend.java
* https://github.com/seratch/jslack/blob/master/jslack-lightning-docker-examples/echo-command-app/src/main/kotlin/App.kt

[2019-11-05 22:15] seratch commented on #249
Thanks for flagging this! I've created a PR to fix this.

[2019-11-05 22:25] seratch commented on #252
Thanks for the detailed information. Honestly, the `close` behavior is a bit surprising to me.

The RTM client internally uses this library for WebSocket connections. The behavior depends on the library.  https://github.com/seratch/jslack/blob/3.0.1/jslack-api-client/pom.xml#L46-L51

If you need a deep dive into this, check tyrus-standalone-client's code and consult the project maintainers.

[2019-11-05 22:25] #249 closed

[2019-11-06 07:54] seratch commented on #250
@prakashsvmx Let me know if you need more information. If I don't hear from you for a few days, allow me to close this issue.

[2019-11-06 08:31] matteogales commented on #252
Thank you for the further information; I will look at the tyrus-standalone-client library and if there is some feature that I think can help will advise, and/or make a code contribution.

The code that I put in place that sends the ApiTestRequests (currently every 5 seconds) seemed to work correctly throughout last night but our app still appeared offline when I checked this morning.

I am now won

[2019-11-06 20:04] matteogales commented on #252
Thank you for the further information and quick follow up.

Through debugging (and IntelliJ's decompiler) I noticed that the ApiTestRequest wasn't testing the web socket state but sending a message to https://slack.com/api/api.test (sorry, my mistake).

I seem to have resolved the issue (although need to monitor over a more extended time to be sure) by sending "ping" messages using RTMClient.sendM

[2019-11-07 01:31] prakashsvmx commented on #250
Thank you.

[2019-11-07 01:31] #250 closed

[2019-11-07 22:55] seratch commented on #252
That makes sense. Hope you won't encounter any issues.

[2019-11-07 23:33] jmccance opened #254 "Lightning UrlVerification fails signature validation"
When using Lightning, the UrlVerification request gets rejected because of a bad signature.

[code]

Tracing through the code, the issue seems to be that — unlike other Requests — the UrlVerificationRequest doesn't return the full request body when `getRequestBodyAsString` is called. It only returns the challenge. Since calculating the signature requires the whole request body, the signature valid

[2019-11-07 23:33] jmccance commented on #254
Tomorrow I'll take a look at what's entailed in submitting a PR to fix. Seems relatively straightforward. 🙂

[2019-11-09 11:35] antonio-tomac opened #256 "Shortcut.postAsBot actually posts as user"
Hi,
I've noticed that trying to post message formatted with `List<LayoutBlock>` as bot, what actually happens is that message is posted as user.

Issue seem to be on this line:
https://github.com/seratch/jslack/blob/f54633c369697a1898ea526549651e02b74770db/jslack-api-client/src/main/java/com/github/seratch/jslack/shortcut/impl/ShortcutImpl.java#L154
last argument is `true` (boolean asUser) but sho

[2019-11-09 23:55] #254 closed

[2019-11-09 23:55] #256 closed

[2019-11-10 00:01] seratch commented on #254
This issue has been fixed since version 3.0.3.

[2019-11-10 00:01] seratch commented on #256
This issue has been fixed since version 3.0.3.

[2019-11-12 19:48] d-subrahmanyam opened #260 "Please give provision to set slack API endpoint URL prefix in SlackConfig"
Can you please give provision to set slack API endpoint URL prefix in SlackConfig?

This would be helpful in-case we are trying to call from behind a proxy.

[2019-11-12 22:51] seratch commented on #260
@d-subrahmanyam Doesn't configuring okhttp client to have proxy setting work for you? (like https://github.com/seratch/jslack/commit/652ac1800a5c3a8bd49c6ec99e9a09b3795a6330 ) Is modifying the Slack API url required?

[2019-11-13 09:33] d-subrahmanyam commented on #260
@seratch The reason I was requesting to have the slack API endpoint URL prefix in the SlackConfig is enable application integrations which sit behind a firewall and have proxied URL's to the actual Slack API endpoint URL.

In that case the slack-app post their request to the proxy end-point URL, which in-turn makes the actual POST to the slack-endpoint URL.

[2019-11-14 06:12] #260 closed

[2019-11-14 09:54] nikitayefanov opened #264 "Unknown RichTextSectionElement type: broadcast"
I'm getting this exception when a response contains type "broadcast" in blocks.elements.type during fetching conversation history. Also, I have just noticed that I'm receiving the same problem with one more type, "rich_text", so, I believe, this has to be added to the RichTextSectionElement as well.

[2019-11-14 13:43] d-subrahmanyam commented on #260
@seratch Thank you.  👍

[2019-11-14 13:47] #264 closed

[2019-11-14 14:43] nikitayefanov opened #266 "Unknown context block element type: rich_text_list"
I'm getting this exception when a response contains a type "rich_text_list" in blocks.elements.type during fetching conversations history.

[2019-11-14 15:52] nikitayefanov opened #267 "Wrong "metadata" property type in the jslack.api.model.Attachment"
Now it is String but I believe that it should be Object or some custom class because when I fetch conversation history for a conversation in files.attachments.metadata I receive an object but not a String, and because of that I'm getting a

BEGIN_OBJECT at line 1 column 60127 path $.messages[29].files[0].attachments[0].metadata

I'm attaching the JSON [file](https://github.com/seratch/jslack/files

[2019-11-14 17:02] nikitayefanov opened #268 "com.google.gson.JsonParseException: Unknown context block element type: rich_text_quote"
I get it during fetching conversation history.

[2019-11-15 04:01] #266 closed

[2019-11-15 04:01] #267 closed

[2019-11-15 04:02] #268 closed

[2019-11-28 09:18] marcinkunert opened #287 "Add undocumented/legacy token API methods"
I wonder if you considered adding undocumented/legacy methods.

I've consider it useful because it allows to invite users to workspace without Enterprise Grid.

Here you can find unofficial docs for it: https://github.com/ErikKalkoken/slackApiDoc

[2019-11-28 11:24] seratch commented on #287
@marcinkunert I know some of undocumented APIs are useful for specific use cases, but this library supports only documented ones.

[2019-11-30 00:58] seratch commented on #36
Already two years have passed you posted this issue. 😅 Indeed, using Steno may be fine but I'm still not sure if we can maintain the assets to keep them up-to-date.

Also, this project has a server-side framework, Lightning. It's pretty easy to make sure if an app works as expected by running it like this: https://github.com/seratch/jslack/blob/3.2.0/jslack-lightning/src/test/java/samples/DialogSa

[2019-11-30 01:38] seratch commented on #287
As I mentioned above, this project won't support undocumented APIs but you can freely implement whatever you want using these new exposed methods in https://github.com/seratch/jslack/pull/290 on your end.

Allow me to close this issue by having an alternative way.

[2019-11-30 01:38] #287 closed

[2019-12-02 14:27] joeltoby commented on #36
Hi @seratch ,  I can't believe it's been two years already!

I agree RE maintaining the assets.  Although it has a record function (which helps), its very difficult to know which responses may have changed without API versioning.

It might be worth looking at this again if the API becomes versioned and we get a change list on a regular basis.

[2019-12-02 14:27] #36 closed

[2019-12-04 23:12] kushal256 opened #293 "SlackApiException and other exceptions are not standard"
SlackApiException does not set Throwable.detailMessage, so when you catch the exception and try to log it, the message is "null".

Since you cannot set the message by calling `Exception(String message)` would it be possible to overwrite Throwable::getMessage() to produce a readable message when logging?

[2019-12-06 07:35] #293 closed

[2019-12-07 17:59] jtalacka opened #295 "thread_ts to ChatPostEphemeralRequest"
Hello, it seems that the classChatPostMessageRequest.java has Thread_ts support, but ChatPostEphemeralRequest.java doesnt. When looking at the documentation of slack api
chat.postEphemeral should have thread_ts support https://api.slack.com/methods/chat.postEphemeral
If it's not too much work maybe you can add this functionality?

[2019-12-08 11:02] #295 closed

[2019-12-08 11:51] seratch commented on #295
@jtalacka Thanks for the feedback. I just shipped version 3.2.3 including the fix #296 . Try it out 👍

[2019-12-10 13:02] nikitayefanov opened #298 "Unknown RichTextSectionElement type: color"
I'm getting this exception when a response contains type "color" in blocks.elements.type during fetching conversation history.

[2019-12-10 15:11] seratch commented on #298
Thanks, will fix this.

[2019-12-10 22:55] dbp-stanford opened #300 "Fields in BlockActionPayload"
I am trying to use com.github.seratch.jslack.app_backend.interactive_messages.payload.BlockActionPayload
to respond to a button press in Slack.  I'm using Jackson to create an instance of this class from the payload sent to me from Slack.

However, many field names in this class and embedded objects had different names in the class, from those provided in the payload.  These vary systematically, E

[2019-12-11 00:21] seratch commented on #300
The only way to correctly parse/write JSON data is to use gson with some additional configurations enabled here: https://github.com/seratch/jslack/blob/baddda32ce254993f29647a85dd2b709ce2ff88b/jslack-api-client/src/main/java/com/github/seratch/jslack/common/json/GsonFactory.java

Consider using gson for the classes in this library. I don’t have any plans to support jackson in the short term as it’

[2019-12-11 00:45] dbp-stanford commented on #300
Thanks.  わかりました。

[2019-12-11 00:45] #300 closed

[2019-12-11 02:37] #298 closed

[2019-12-11 13:24] seratch commented on #298
@nikitayefanov Try version 3.2.4. The version supports the `color` element.

[2020-01-24 13:29] Satyaki0924 commented on #84
@seratch  any resolution on this? I am experiencing this same issue with jslack 1.6.0 and jboss eap7.1.6.
@wangdaqian08 how did you solve this?
Thanks in advance.

[2020-01-24 13:32] Satyaki0924 opened #313 "java.lang.NoSuchMethodException: com.github.seratch.jslack.api.rtm.RTMClient.<init>()"
[code]

[2020-01-24 13:38] Satyaki0924 commented on #313
I am trying to deploy an application which uses jslack v 1.6.0 on Jboss EAP7.1.6 and am getting the above error. I would be thankful if anyone could share some insight on what the bug is and how to solve it.

[2020-01-26 12:41] seratch commented on #313
@Satyaki0924

It looks a binary compatibility issue. Make sure if your app depends on the same version for all jslack dependencies.

[2020-01-27 14:25] seratch opened #315 "Add the document website"
* [x] Make a pull request to add `/docs` files
* [x] Google Analytics
* [ ] Setup GitHub Pages using `/docs`

[2020-01-27 14:25] seratch opened #316 "Setup cla-assistant.io"
Enable cla-assistant.io on this repository

[2020-01-27 14:26] seratch opened #317 "Change User-Agent"
To be updated

[2020-01-27 14:31] seratch commented on #252
@matteogales Hello, how have things been going? Regarding this GitHub issue, I think I don't have anything further I can do for you. If you don't mind, can I close this issue now?

[2020-01-27 14:37] seratch opened #318 "Automatic retry support with a good consideration of Slack API rate limits"
Having an executor service that provides a mechanism to enable developers to run API calls asynchronously and have a good consideration of the Slack API rate limits.

https://api.slack.com/docs/rate-limits

I'm planning to do the followings:

* Add a thread pool cooperating with queues per endpoint
* Add  async methods that internally uses the above to `MethodsClient`

[2020-01-27 14:53] seratch opened #319 "Publish milestone/RC versions to the Maven Central"
Claiming the groupId `com.slack` is going on [here](https://issues.sonatype.org/browse/OSSRH-54733). Here is the timeline for Java Slack SDK releases

* ASAP (possibly in the first week of Feb): Release 0.99.0
* Sometime in Feb: v1.0.0-RC{1,2} with full features
* Early in March: v1.0.0 final

[2020-01-27 14:58] matteogales commented on #252
Sorry, should have closed this off; thank you for your help on this.

[2020-01-27 14:58] #252 closed

[2020-01-29 09:42] Satyaki0924 commented on #313
Thanks @seratch for the insight. For all those who is getting the same error, here is how I solved this.
**Problem:** Jboss EAP 7 websocket dependencies conflicting with jslack dependencies causing binary compatibility issue.
**Resolution:**
Add the following dependency to your POM.xml if you are using maven
[code]
From your standalone.xml, comment the websockets part of the subsystems
[code]

[2020-01-29 09:42] #313 closed

[2020-01-29 09:44] Satyaki0924 commented on #84
For all those who is getting the same error, here is how I solved this.
**Problem**: Jboss EAP 7 websocket dependencies conflicting with jslack dependencies causing binary compatibility issue.
**Resolution**:
Add the following dependency to your POM.xml if you are using maven
[code]
From your standalone.xml, comment the websockets part of the subsystems
[code]

[2020-01-29 15:35] seratch commented on #319
I managed to publish snapshot versions: https://oss.sonatype.org/content/repositories/snapshots/com/slack/api/

[2020-01-29 15:36] #316 closed

[2020-02-05 14:19] #318 closed

[2020-02-05 14:25] seratch opened #327 "Write more javadocs"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

Many of the classes in this SDK don't have good javadocs yet. Having more detailed docs and useful links would be greatly helpful for SDK users.

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slack

[2020-02-05 14:33] seratch opened #328 "Renew the issue template to use the latest"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

We see the following warning when visiting [the GitHub issue template](https://github.com/slackapi/java-slack-sdk/blob/master/.github/issue_template.md) we currently use.

* https://help.github.com/en/github/building-a-strong-community/about-issue-and-pull-request-templates

### Requi

[2020-02-06 15:40] Pravez opened #330 "Handling interaction payloads - responding Ack to Slack"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [x] Documentation

### Description

I am building a server sending messages to a slack application. However, some messages contain BlockElements and especially Buttons. When clicking on buttons with an URL, the browser opens up but also a warning sign appears on the left of the button. According to the documentation it

[2020-02-06 16:06] #330 closed

[2020-02-11 13:53] tutufool commented on #4
Any update on this?  I may have similar issue that I'm in an internal network which requires special http proxy to call external address like slack. (both RTM and Web API）

[2020-02-11 23:50] seratch commented on #4
@tutufool after 3+ years, I managed to fix this issue. I'm going to backport this to the jSlack library.

[2020-02-12 03:00] tutufool commented on #4
btw, can I use jvm level proxy for now as alternative solution?

https://docs.oracle.com/javase/7/docs/api/java/net/doc-files/net-properties.html

[2020-02-12 03:46] #4 closed

[2020-02-12 03:47] seratch commented on #4
@tutufool probably, no. could you try it out?

[2020-02-12 09:13] tutufool commented on #4
will the fix available soon in next release?

[2020-02-12 09:56] seratch commented on #4
@tutufool Yes, I've shipped jSlack version 3.4.1 that includes the fix today. Could you try the version out when you have a chance? https://github.com/seratch/jslack-maintenance-releases/pull/4

[2020-02-13 04:48] tutufool commented on #4
cool, thanks a  lot !

[2020-02-17 11:43] #317 closed

[2020-02-19 06:18] seratch opened #341 "Add logger access to listeners"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Bolt for Java should have a parameter similar to https://github.com/slackapi/bolt/issues/168

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.github/contributing.

[2020-02-19 06:19] seratch opened #342 "Add say() utility to Bolt (for Java)"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Bolt for Java should have `say()` utility in alignment with Bolt for Node.

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.github/contributing.md) and have done

[2020-02-19 07:58] #341 closed

[2020-02-19 12:11] seratch commented on #342
`say()` utility should pass channel id. The current implementation doesn't do that.

[2020-02-19 22:06] #342 closed

[2020-02-21 03:58] seratch opened #347 "RDB support for the OAuth flow datastore"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

As of Feb 2020, Bolt for Java supports the following datastore for `InstallationService` and `OAuthStateService`.

* Local File System
* Amazon S3

We're going to support the relational database as well. The implementation just depends on [the JDBC APIs](https://jcp.org/en/jsr/detail?

[2020-02-21 04:10] seratch opened #348 "Deployment guide documents"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

After releasing the initial stable version, the team will be working on the documents on the appropriate ways to deploy Bolt (for Java) apps to production servers. The team hasn't decided what cloud infra should be covered in the documents yet but the following should be great options

[2020-02-22 13:45] seratch commented on #319
Beta releases are available on Maven Central repositories. https://search.maven.org/search?q=com.slack.api

[2020-02-22 13:45] #319 closed

[2020-02-27 23:14] ace-n opened #359 "Undefined signing secret causes NullPointerException"
### Issue Type
- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
Failing to provide a `SLACK_SECRET` to `SlackSignature.Generator`'s constructor causes a `NullPointerException` when calling the resulting `Generator`'s `generate()` method.

---
The issue is reproducible in:
JSlack version: `3.4.1`
OS: `OSX 10.15.3` (though this shouldn't matter)

Repr

[2020-02-28 00:09] seratch commented on #359
Thanks for taking the time to give this feedback 🙏 I will apply the improvement to both jSlack and this 1st party Java Slack SDK.

[2020-02-28 08:47] #359 closed

[2020-02-29 01:11] #315 closed

[2020-03-03 11:22] gaurav2493 opened #372 "Unable to update chat message."
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Request to update chat message is failing
---
(only for a bug report)

**TODO**:
If this is a bug report, filling out the following details about bugs will help us solve your issue sooner.

The issue is reproducible in:
* Module Version: 0.99.2
* JDK Version: 1.8.0_231
* OS Version et

[2020-03-03 12:28] seratch commented on #372
@gaurav2493 Thank you for reporting this issue. I verified this issue occurs with Granular Permissions.  I mistakenly have been running all the unit tests with the real APIs using a token with classic app permissions. I will fix this and release a new milestone version as soon as possible.

[2020-03-03 14:20] #372 closed

[2020-03-03 14:59] seratch commented on #372
@gaurav2493
Thank you very much for reporting this. I really appreciate it.
I've revisited all the unit tests, improved them, and fixed the bug and a few similar.

I just released a new version `1.0.0-M2` including those fixes. Could you try it out when you have a chance? Thanks again for your great help!

[2020-03-04 05:39] gaurav2493 commented on #372
Thanks @seratch for fixing this fast. Yes I have verified, its working.

[2020-03-05 17:36] gaurav2493 opened #378 "Incorrect value being passed on method"
### Issue Type

- [X] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

While Implementing the Interface `InstallationService`,  I observed that the method
`Bot findBot(String enterpriseId, String teamId) `
 was getting incorrect value for `teamId`.  `teamId` actually had the value for `enterprise_id`
when an event API for `message.im` came.

I figured ou

[2020-03-05 20:46] seratch commented on #378
@gaurav2493 Hello, thank you for pointing out this issue! Oops, this is a bit silly mistake... I'll check all the other classes again. 🙇

[2020-03-05 21:11] seratch commented on #378
I've reviewed all the setter calls and didn't see similar bugs so far.

[2020-03-05 22:14] seratch opened #381 "Support app.message handler"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Bolt for Java currently doesn't support the `app.message` handler that is available in Bolt for JS. The handler is based on the `app.event` handler and it enables developers to easily filter `message` events to respond.

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've

[2020-03-06 04:19] #381 closed

[2020-03-06 05:03] seratch commented on #378
Closed by #379, thanks!

[2020-03-06 05:03] #378 closed

[2020-03-10 14:56] uwemaurer opened #396 "program hangs because of active ExecutorService"
### Issue Type

Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

A simple example program hangs because of an active ExecutorService

---
(only for a bug report)

The issue is reproducible in:
* Module Version:  1.0.0-RC2
* JDK Version:  java 11
* OS Version etc:  ubuntu

The steps to reproduce are:
run this progr

[2020-03-11 00:52] seratch commented on #396
Thank you very much for pointing this out. I've forgotten to do `setDaemon` for those in this library... I will fix it today and will be releasing a new RC version with other planned improvements soon.

[2020-03-11 13:22] #396 closed

[2020-03-11 13:52] seratch commented on #396
@uwemaurer I just released version 1.0.0-RC3. Thanks again for pointing out the issue before releasing v1.0.0!

[2020-03-11 14:16] uwemaurer commented on #396
@seratch thank you for fixing and releasing a new version!

[2020-03-16 05:05] panghy opened #399 "ChatUnfurlRequest.UnfurlDetail doesn't match the expected API payload"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

The current fields within UnfurlDetail doesn't won't if you really try to use it, the example given by Slack at: https://github.com/slackapi/sample-app-unfurls/blob/8b2b610e4ad5a2e64d9dd0fae64deac43d9a1c26/basic.js#L22 suggests that each url should have an attachment. Perhaps the atta

[2020-03-16 07:29] seratch commented on #399
@panghy
Thanks for taking the time to report this.

Regarding the issue with blocks, you cannot use the attachment-related fields (title, image_url, etc are for attachments) and blocks at the same time. So, please use only Block Kit elements when you go with blocks.

Separately from that, as you mentioned, some fields for attachments were not yet supported in this SDK. I just created a pull reques

[2020-03-16 22:44] panghy commented on #399
Thanks so much for the quick turnaround!

[2020-03-16 22:44] #399 closed

[2020-03-19 19:53] gaurav2493 opened #406 "Code breaks on receiving "user_change" event"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

When user_change event is sent, the code breaks with the following exception

[code]

This happens because code expects `user` to contain string but it contained jsonObject

[code]

---

The issue is reproducible in:
* Module Version: 1.0.0
* JDK Version: 1.8.0_231

The steps to repro

[2020-03-19 22:33] seratch commented on #406
@gaurav2493 Hello, thank you for flagging this (and fixing it 🙇). Your fix looks perfect! This one is so critical that I will release a new version (version 1.0.1) after merging your PR today.

[2020-03-19 22:34] #406 closed

[2020-03-19 23:27] seratch commented on #406
@gaurav2493 Thanks again for your contribution here. I just published version 1.0.1 jars to the Sonatype OSS repositories. They'll be synchronized to Maven Central soon.

[2020-03-30 16:13] TarasPavliuchyn opened #409 "Group from SCIM is not according to the actual response"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
`com.slack.api.scim.SCIMClient#searchUsers()` returns users with groups where all fields are empty.
The problem is in wrong filed names in `com.slack.api.scim.model.Group` . Actual HTTP response looks like (from slackHttpClient):

 // skippe

[2020-03-30 23:30] MMotta-zAgile opened #410 "Hint for a Modal Surface's Input block"
### Issue Type

Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
According to the [Slack Block kit Reference for Layout blocks](https://api.slack.com/reference/block-kit/blocks#input), the Input block available on the **Modals** surface allows to have the optional field **hint** as a **text object** with a type of

[2020-03-30 23:42] MMotta-zAgile commented on #410
The following git diff fixes the problem

[issue-410.zip](https://github.com/slackapi/java-slack-sdk/files/4405960/issue-410.zip)

[2020-03-31 01:55] seratch commented on #409
@TarasPavliuchyn I've fixed the bug by #411. I'm going to release a new patch version within a few hours. Thanks for reporting the issue and I'm sorry for the inconvenience.

[2020-03-31 02:16] seratch commented on #410
@MMotta-zAgile Thank you very much for reporting this and the perfect patch. I've submitted a PR #412 addressing this. I will release a new patch version within a few hours.

[2020-03-31 02:23] #409 closed

[2020-03-31 02:35] #410 closed

[2020-03-31 03:22] seratch commented on #409
Thank you very much again for taking the time to report this. A new version - 1.0.2 is out now. Please try it out when you have a chance.

[2020-03-31 03:22] seratch commented on #410
Thank you very much again for taking the time to report this. A new version - 1.0.2 is out now. Please try it out when you have a chance.

[2020-03-31 04:40] TarasPavliuchyn commented on #409
Thank you for the fast fix.

[2020-03-31 16:42] MMotta-zAgile commented on #410
I have tested version 1.0.2 and it is working as expected.
Thank you for promptly applying the patch.

[2020-04-01 00:33] seratch opened #414 "SCIM API rate limits support"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

As [announced today](https://api.slack.com/changelog), the SCIM API endpoints now have clear, explicit rate limits. Refer to https://api.slack.com/scim#ratelimits for details.

If this SDK adds consideration for it, it will be similar to the `AsyncMethodsClient` implementation.

### R

[2020-04-02 00:14] untra opened #415 "attachment .blocks results in invalid_attachments response"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
(using the sdk in kotlin, pardon any confusing syntax differences)

nonempty `.blocks` added to an attachment will not post to the slack api, responds `400 invalid_attachments`. Might also be related to #184 and #187

I have been posting to

[2020-04-02 00:53] seratch commented on #415
@untra Thanks for the detailed report! I will take a look at this today.

[2020-04-02 02:41] seratch commented on #415
@untra Thanks for reporting this. I've verified the issue and came up with a PR addressing this #416
After merging the PR, I will ship a new patch version within a few hours.

[2020-04-02 02:49] #415 closed

[2020-04-02 03:26] seratch commented on #415
A new version (1.0.3) including the fix for this issue has been published to the Sonatype OSS repository. The artifacts will be available also in Maven Central soon.

Thank you very much for reporting this issue. Try v1.0.3 out when you have a chance!

[2020-04-02 15:05] untra commented on #415
@seratch thanks for the speedy reply, confirmation, and fix! 💪

I've been trying out v1.0.3 and this works as intended now. I was going a little crazy yesterday testing out this sdk for the first time, but I'm so glad to see I was finding a genuine issue and not making a rookie mistake. Serious props to the Slack team for releasing this speedy fix.

Everything else about the sdk seems to work just

[2020-04-03 15:10] flyinprogrammer opened #418 "Website 404s"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

The website is currently 404ing

---

The steps to reproduce are:
1. Go to https://slack.dev/java-slack-sdk/ in a web browser
2. Witness 404

The expected result is:
The beautiful website is there.

The actual result is:
It 404s.

<img width="1101" alt="Screen Shot 2020-04-03 at 10 03

[2020-04-03 15:33] seratch commented on #418
Thank you for reporting this and I'm sorry for the inconvenience. The team is on it.

[2020-04-03 15:45] seratch commented on #418
The issue has been fixed. I'm sorry again for the inconvenience.

[2020-04-03 15:45] #418 closed

[2020-04-03 15:58] flyinprogrammer commented on #418
no problem at all you're a hero @seratch !

[2020-04-04 18:04] acm19 opened #419 "SlackApiLambdaHandler forbids access to App"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

`SlackApiLambdaHandler` is very handy to quickly create a working lambda slack bot. The problem is when you extend from it you have to call it's constructor passing an `App` instance, but you don't have an easy way to modify that instance later on. I can think of a few examples where

[2020-04-05 01:05] seratch commented on #419
@acm19 Hello, thank you for taking the time to write this feedback. Currently, it is supposed to be used like this:

[code]

For your information, here is a tiny example written in Kotlin. https://github.com/seratch/bolt-kotlin-on-aws-lambda/blob/master/src/main/kotlin/hello/aws/SlackApiHandler.kt

Do you have an issue with this approach? I can add the getter method for `private final App app;` in

[2020-04-05 09:40] acm19 commented on #419
Hi @seratch, thank you your quick reply. The problem with that approach is that to modify the app later on you would need to store it in a static variable, which seems weird to me. e.g. after some command you want to start handling a different type of events. Having a `protected` getter method to access `app` from its sub-classes seems a sensible way to do it IMO.

[2020-04-05 10:09] seratch commented on #419
I think now I understand what you mean. I never assumed such use cases. It's an interesting design! I'm sure you store the Slack app's state like the completion of the command for setting up somewhere else (e.g., in a database) and your lambda functions access it. If so, the architecture works well.

I can add a protected getter method for the `app` field to the base class within a few days. If yo

[2020-04-06 06:39] seratch commented on #419
I just created a pull request for this issue. It will be merged soon. Feel free to leave your comments on it if you have.

[2020-04-06 07:00] acm19 commented on #419
I had created one as well, didn't get to push it before you :) thank you. I'll share it with you anyway as there are a couple of other stuff that might be helpful. I'll have a look today when I leave work.

[2020-04-06 17:42] acm19 commented on #419
It looks great to me. I just added a comment. I've also submitted a PR of what I would do as well, maybe out of scope but I had written it already and might be useful. You can use some of that code if you want, specially the moving the Javadocs and `App#start` in the constructor might be useful. Thank you again for addressing this so quickly.

[2020-04-06 19:39] zolstein opened #422 "Add View to BlockSuggestionPayload"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Add View to BlockSuggestionPayload

BlockSuggestionPayload class doesn't define the View field that gets passed when
a block_suggestion request comes from a view. As a result, code that handles a
block_suggestion request has to parse the View and pass it around with the BlockSuggestio

[2020-04-07 10:25] #419 closed

[2020-04-07 10:45] seratch commented on #419
Thanks for your feedback. I'm going to release a new patch version this week.

[2020-04-07 19:16] zolstein commented on #422
Thanks so much for the quick turnaround.

[2020-04-07 21:30] mfuntowicz opened #425 "Occasional request verification failures in a Bolt app"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

I've a very simple Section + Static Select which when calling back the `blockAction `on Java side results in

[code]

The Interactive Block looks like the following:

[code]
I've checked my Signing Secret is correct on both Slack and Java.

---

The issue is reproducible in:
* Module

[2020-04-07 23:43] #422 closed

[2020-04-08 05:32] seratch commented on #425
@mfuntowicz
With the given information, this looks like a misconfiguration issue on your Slack app. Can you verify the following again?

* Verify if **Request URL** in **Interactivity & Shortcuts** > **Interactivity** is valid
* Verify if the Slack app that serves the **Request URL** is using valid **Signing Secret**

If you use the default constructor of `App` class, your app loads signing secret

[2020-04-08 07:17] acm19 commented on #419
Brilliant, cheers!

[2020-04-08 07:43] mfuntowicz commented on #425
Thanks @seratch to follow up on this.

Just checked again what you suggested, and things are looking correct. In fact, before posting this message I took the time to check all these URLs and OAuth permissions.

Another point, my Slack Bot send multiple differents messages, mainly without any Interaction and these are running fine, I receive them and I'm able to answer them back.

Also, I've some c

[2020-04-08 08:20] seratch commented on #425
@mfuntowicz Just in case, I verified a tiny micronaut app including your samples works as below.

I don't think the root cause of your issue is related to the blocks. Something is wrong with your app's configuration or your server.

[code]

<img width="500" src="https://user-images.githubusercontent.com/19658/78760993-ef127c00-79bc-11ea-9c77-0be6470cff64.png">

[2020-04-08 08:22] mfuntowicz commented on #425
Hum, interesting! Thanks for trying out.

I'll dig further and come back to you to keep you informed.

Again thanks for the support !

[2020-04-08 11:16] mfuntowicz opened #426 "url_verification request fails with bolt-micronaut"
Trying to setup the Event API on the Slack App website and setting up the Event callback URL, seems Bolt is not able to parse the `UrlVerificationRequest` properly.

I'm running Java 9 (through Kotlin), with Bolt 1.0.4 on Windows 10

[code]

[2020-04-08 11:25] seratch commented on #426
Thanks for reporting this. I've confirmed this is a bug where bolt-micronaut doesn't handle the request properly.

[2020-04-08 11:42] seratch commented on #426
@mfuntowicz Thanks for reporting this issue. I just made a pull request addressing the issue at #427. The adapter consists of only two classes here. If you're in a hurry, please copy those to your application. https://github.com/seratch/java-slack-sdk/tree/6386b1dc4b0fb8d0b4c473fea59e3e496fb39611/bolt-micronaut/src/main/java/com/slack/api/bolt/micronaut

[2020-04-08 12:06] seratch commented on #425
@mfuntowicz
Now I realized that this is caused by the same bug you reported at #426. That makes sense a lot. Somehow I went with the wrong way to implement the adapter for Micronaut and tests were not enough.

I apologize for the confusion and saying this is not a bug. I will merge #427 soon and release a new patch version today.

[2020-04-08 12:09] mfuntowicz commented on #425
Thanks @seratch ! And no worries, happy we were able to track this down for both issues.

Can you ping me here when the patch is up ? I'll give it a try 👍

[2020-04-08 12:10] #426 closed

[2020-04-08 12:22] seratch commented on #425
@mfuntowicz
I just released a new patch version - 1.0.5 to the Sonatype OSS repository. The jar files will be synced to the Maven Central soon.

Let me close this issue now but if you see something related to the new version, please feel free to reopen this. Thanks again for your great help on this!

[2020-04-08 12:22] #425 closed

[2020-04-10 19:53] emanguy opened #428 "Add optional Kotlin builders for building messages"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

I'd like to be able to build slack messages in more of a "kotlin builder" style rather than the functional chain builders that are currently available. I'm also willing to contribute the code if need be, just want to add an issue here.

For example, here's how building a slack message

[2020-04-10 23:15] seratch commented on #428
@emanguy Thanks for taking the time to write in! The suggested API looks neat. One thing I'd like to know more is how the implementation looks like. Is it possible to ask you to show proof of concept code (you don't need to support many APIs)?

If it continuously requires efforts for future maintenance, I may be a bit reluctant to add the support.

[2020-04-11 17:27] Jian-Min-Huang opened #429 "ctx ack with Chinese text"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

**TODO**:
This is the official example
[code]
but if I add some Chinese text
[code]
it will return question mark
![](https://github.com/Jian-Min-Huang/tech-note/blob/master/images/slack-java-sdk-pr.jpg?raw=true)

so I try to explore the sou

[2020-04-11 22:42] seratch commented on #429
@Jian-Min-Huang Thanks for reporting (and making a PR too!) this issue. Your PR #430 has addressed the issue. Let me close this issue now. I'm be releasing a new patch version (1.0.6) within a few days.

[2020-04-11 22:42] #429 closed

[2020-04-13 04:41] emanguy commented on #428
Okay, I'll go ahead and throw some sample code into a pull request and reference here.

[2020-04-13 22:47] emanguy commented on #428
Alright, I've made a fork of the slack library. I added a new Maven module for the Kotlin builders in the directory `slack-api-client-kotlin-builders` on the `kotlin-dsl` branch. The fork can be found [here](https://github.com/emanguy/java-slack-sdk/tree/kotlin-dsl).

I tried to keep the UX of the DSL similar to that of [kotlinx.html](https://kotlinlang.org/docs/reference/type-safe-builders.html#a

[2020-04-15 02:06] seratch commented on #428
@emanguy Wow, you're so quick! I will check it out today.

[2020-04-15 05:39] seratch commented on #428
@emanguy
First of all, thank you very much for taking the time to create this PoC. The implementation is greatly inspiring and is already great enough.

But I have a few things to change or discuss. I've modified your branch this way. Could you check it out when you have a chance? https://github.com/seratch/java-slack-sdk/commit/30c68b4b17829c718899ffa40c2896ebd5c2fae6

The following are my though

[2020-04-16 01:13] emanguy commented on #428
Yeah, I have tons of time on weekends to keep working on this. Looking forward to working with you more on this!

I'm fine with constraining the scope to the blocks, but do you think it would be possible to add kotlin extension functions which would just allow developers to invoke a `.buildBlocks()` function off of builders such as the ChatPostMessageRequest lombok builder or is that too far outsi

[2020-04-16 02:49] seratch commented on #428
@emanguy

I'm fine with this idea! (needless to say to you though, as long as we don't abuse in unnecessary use cases)

I was just concerned about having almost the same structure with all the request classes. As Slack already has 180+ documented endpoints, it's unrealistic to maintain doubled ones without missing anything.

Regarding the project structure idea, it's possible to have those functio

[2020-04-16 06:01] sunny952 opened #433 "Question: how to open a modal view in Bolt for Java?"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [X] Question
- [ ] Documentation

### Description

I want to pen a model view.
I copy a sample in slack java sdk sit.

[code]

sometimes return invalid arguments ,sometimes is successful,but  I can not see model .
I check log then sometimes print out success message, sometimes print out invalid arguments.  I can not see model in slack

[2020-04-16 06:25] seratch commented on #433
@sunny952 👋 The complete working example for the document page is available here.
https://github.com/slackapi/java-slack-sdk/blob/v1.0.6/bolt/src/test/java/test_locally/docs/ModalsTest.java

Can you check the difference? If you see something unclear, I'm happy to help you out (share details and your code if possible then).

[2020-04-16 10:31] sunny952 commented on #433
i  missed  privateMetadata https://hooks.slack.com/actions/T1ABCD2E12/330361579271/0dAEyLY19ofpLwxqozy3firz   I want to know this responseurl is necessary?

[2020-04-16 11:38] seratch commented on #433
It's not necessary if you don't need to store some data across modals. It's just an example.

[2020-04-17 03:23] sunny952 commented on #433
hi I want to know how does rich_text_quote and rich_text_preformatted
work?  do you have an example?

On Thu, 16 Apr 2020 at 19:39, Kazuhiro Sera <notifications@github.com>
wrote:

[2020-04-17 03:41] seratch commented on #433
@sunny952
You may see those blocks when a user posted a message using the WYSIWYG mode in Slack. But those blocks are not supposed to be used in Slack API calls. Refer to the following document for details.
https://api.slack.com/changelog/2019-09-what-they-see-is-what-you-get-and-more-and-less

You may have more questions. You can ask general questions like this at [Bot Developer Hangout workspace

[2020-04-17 03:41] #433 closed

[2020-04-17 03:45] sunny952 commented on #433
sure

On Fri, 17 Apr 2020 at 11:42, Kazuhiro Sera <notifications@github.com>
wrote:

[2020-04-17 06:06] seratch opened #434 "Some links in Javadoc pages are not working"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

https://oss.sonatype.org/service/local/repositories/releases/archive/com/slack/api/slack-api-client/1.0.6/slack-api-client-1.0.6-javadoc.jar/!/com/slack/api/Slack.html#send-java.lang.String-com.slack.api.webhook.Payload-

When accessing the Javadoc websites hosted by Sonatype, the lin

[2020-04-18 22:15] emanguy commented on #428
Would you like me to remove the existing built-in validation or should I leave it?

Also, I found a much better way to handle the delegation through Kotlin's built-in delegation. Makes it so we don't have to repeat the interface methods over and over again. I'll be using this moving forward:

[code]

This way, the compiler just generates the public members of the interface for us automatically. Yo

[2020-04-18 23:42] seratch commented on #428
@emanguy Nice! > property delegation by Kotlin language

I prefer removing it so far. If we can provide some ways to enable users to add their own rules, that would be great (I don't have any good idea yet, though).

[2020-04-19 18:12] emanguy commented on #428
Looking over some of your changes, it looks like you included what appear to be setter functions on the button builder for the `actionId`, `url`, and `value` fields on the button. Should we be doing this everywhere? I originally designed this so that fields with "basic" data types (i.e. ints, strings, enums, etc.) would be filled in builder function parameters, while nested objects (i.e. PlainText

[2020-04-20 03:33] seratch commented on #428
@emanguy

I've updated my branch a bit. I'd like to keep the DSL as similar to JSON (in terms of its structure) as possible. So, one possible way is having `var` arguments in constructors plus providing setter methods [this way](https://github.com/seratch/java-slack-sdk/commit/79f29de8f4917e1e8c4bf121df900e702df2edc5).

The usage of the DSL looks like this:
https://github.com/seratch/java-slack-sd

[2020-04-23 06:24] Hariprasad-Ramakrishnan opened #438 "Feature parity comparison with slack js-sdk"
### Issue Type
- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description
Is there a feature parity comparison document for java-sdk vs the js-sdk. This will enable us to choose one sdk over another.

### Requirements (place an `x` in each of the `[ ]`)
* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blo

[2020-04-23 06:43] seratch commented on #438
Hi @Hariprasad-Ramakrishnan 👋
When it comes to the coverage of the Slack Platform features, there is no major difference.

Both (and we're planning to release Bolt for Python sometime this year. So, eventually three language versions will be available) support the latest features such as Shortcuts, Modals, App Home, Slash Commands, Events API, and so on.

That said, at this point, Bolt for JS does

[2020-04-23 07:27] Hariprasad-Ramakrishnan commented on #438
Thanks a lot for the detailed explanation @seratch ...

[2020-04-23 07:27] #438 closed

[2020-04-30 00:39] favalos opened #439 "Add support for Dynamic Select in Dialogs."
There are some recent changes at the end of the [Slack Dialog Page](https://api.slack.com/dialogs)

- > Dynamic select menus support user, conversation, and channel selection.
- > You can populate selections on demand from remote data sources.
- > You can organize options into options_groups.

Place an `x` in one of the `[ ]`.

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Doc

[2020-04-30 06:46] seratch commented on #439
Your change has been merged into master. Thanks for flagging this and making the fix!

[2020-04-30 06:46] #439 closed

[2020-05-01 18:25] flyinprogrammer commented on #348
So I'd love to see some guidance around using this sdk to build lambda slack bots. I have everything working, based on the current documentation (which I need to submit a PR for), but I'm currently suffering from cold-boot lambdas taking too long to ACK a messages from Slack, which results in retry deliveries, and then my bot processing the same message multiple times.

Similarly, I'm not sure how

[2020-05-01 23:30] seratch commented on #348
@flyinprogrammer
Thanks for writing in here!

Regarding pull requests to this issue, the document team is still planning but we may have deployment guides for Bolt Java in somewhere else. So, if you're interested in writing about it, your own blog or somewhere else may be a good place at this point. If we decide to have such contents under https://slack.dev/java-slack-sdk/ and you're interested in

[2020-05-02 19:50] flyinprogrammer commented on #348
I'm not exactly sure if you want to have a discussion about how warmups work here, but here's my understanding of how this example warmup logic is going to work:

- Ping AWS Lambda every [5 minutes](https://github.com/seratch/bolt-kotlin-on-aws-lambda/blob/f46b0ed25f1f006315d11b9a14fcad2114407a41/serverless.yml#L40)
- This ensures 1 lambda is always running so long as the timeout on the lambda is

[2020-05-03 01:09] asthmatic opened #443 "RTM: Process finished with exit code 0"
After connecting with RTM client, if about 30-60 seconds has passed I get a `Process finished with exit code 0` with no error.

Related code:
[code]
Is this something that is supposed to happen with RTM? If yes then how to I avoid it? This problem aside I can use RTM just fine for listening events and sending messages.

[2020-05-03 02:00] seratch commented on #348
Your understanding of the example is correct. For my small utility app's case (a tiny Slack app providing slash commands & modal interactions), warming up every a few minutes (3 min for my real app) works and booted lambda instances never expire in 20 seconds. But probably it depends.

You may already know this but the best bet for the scenario would be their Provisioned Concurrency. https://aws.a

[2020-05-03 02:25] seratch commented on #443
Hello, `RTMClient` doesn't have any feature to manage your java process. Even when the client gets some exceptions, it doesn't result in the termination of the whole process.

Try the following example. You may find more information for identifying the cause of your issue. You can run this example just by `SLACK_BOT_TOKEN=xoxb-*** gradle run`.

[code]

[code]

[2020-05-03 02:49] asthmatic commented on #443
Thanks! I tried your example but the results are not telling me much. So its probably related to my setup and not RTMClient or Slack? Being new to the Java so maybe I have missed something important in IDE/Project setup...

[code]

[2020-05-03 07:09] seratch commented on #443
It's one easy way to run a process but of course, it's not the only way. Writing your own main loop that can do more or running a process as an HTTP server (to provide more functionalities/endpoints/web pages) are more common patterns. It depends on what you want to achieve.

[2020-05-03 19:15] #443 closed

[2020-05-05 12:15] seratch opened #445 "admin.usergroups.* API"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

https://api.slack.com/enterprise/managing#defaultchannels

* [admin.usergroups.addChannels](https://api.slack.com/methods/admin.usergroups.addChannels)
* [admin.usergroups.listChannels](https://api.slack.com/methods/admin.usergroups.listChannels)
* [admin.usergroups.removeChannels](ht

[2020-05-06 08:25] Hariprasad-Ramakrishnan opened #447 "Regarding conversations.create API, user_ids support"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

Is there a way to pass user-ids in `conversations.create` API. I don't think java-client supports it now.

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.github/

[2020-05-06 08:27] Hariprasad-Ramakrishnan commented on #447
Also wanted to ask, we are currently building an app which will be distributed across slack workspaces. Is user-ids mandatory to be added on channel create ?

[2020-05-06 08:59] seratch commented on #447
@Hariprasad-Ramakrishnan The "workspace app" in [the API document](https://api.slack.com/methods/conversations.create#arg_user_ids) is [this one](https://api.slack.com/legacy/workspace-apps). So, you don't need to worry about it. Just creating a conversation and invite members to the channel would work.

[2020-05-06 09:02] Hariprasad-Ramakrishnan commented on #447
Thanks for your swift reply. Okay so I'll make 2 API calls for now, once for creating channel and one for inviting members. Will userIds support come anytime soon, just wanted to know.

[2020-05-06 09:34] seratch commented on #447
There is nothing I can share with you at this point.

[2020-05-06 09:41] Hariprasad-Ramakrishnan commented on #447
Okay thanks !!

[2020-05-06 09:41] #447 closed

[2020-05-08 01:16] #445 closed

[2020-05-10 16:07] emanguy commented on #428
I don't want to allow for any sort of nesting in the parameters, so I'd rather not allow for adding complex data (i.e. types other than things like `int`, `double`, `float`, `string`, etc.) in the parameters to these builder functions. However, I do understand that there may be confusion in having to set these in a different location, so here's my current thought:

On the builders, we can make the

[2020-05-11 12:57] seratch commented on #428
Indeed, your example looks very simple.

[code]

However, what do you think about this?

[code]

I don't think this is easy enough to compose a valid structure without any errors. The necessity to understand the difference between `actionId` and `text`/`confirm` looks almost unacceptably unintuitive to me.

If we choose your approach, I know this is a bit more verbose but the following one looks m

[2020-05-13 12:29] kumbhaj opened #453 "Functionality to download attachment/file from messages using token"
### Enhancement/Question

**TODO**:
`Functionality to download attachment/file in a message using the user token`

Is there already any functionality to do this using the token we can download the file/attachment in a message?

[2020-05-13 12:34] kumbhaj opened #454 "Getting message text and type complexity"
The complexity of getting messages' text and type using java sdk is high . I want to get the type and text that are in the blocks key. Is there any sample code to do it using SDK. I tried below but I believe this isn't a feasible apporach.

![code](https://user-images.githubusercontent.com/36796254/81813099-ac583c80-9544-11ea-9b06-8e938577baeb.PNG)

[2020-05-13 12:49] seratch commented on #454
Hi, the `rich_text` type blocks were added for Slack's WYSIWYG editor support. So, for most 3rd party apps, they are not useful. Refer to the following guide if you're interested in the details of rick_text blocks.
https://api.slack.com/changelog/2019-09-what-they-see-is-what-you-get-and-more-and-less

From a 3rd party app perspective, using `text` field (`message.getText()` in your code) would be

[2020-05-13 12:55] seratch commented on #453
If your app's bot user has permission to access a file, your app can download file data by accessing `url_private_download` etc. with `Authorization: Bearer xoxb-***` header.

This SDK doesn't provide a handy method for downloading data but you can do that with any HTTP clients. This SDK depends on okhttp. Using the library may be quick.

[2020-05-13 13:23] seratch commented on #453
I've added a code snippet demonstrating how to do that. Hope you find this helpful. https://github.com/slackapi/java-slack-sdk/commit/1712133988264cccc0c180c89d4cf2a76e0f30e7

[2020-05-13 16:23] kumbhaj commented on #454
Thanks

[2020-05-13 22:33] #454 closed

[2020-05-13 22:35] seratch commented on #453
@kumbhaj Is the above information helpful for you? Let me know if you have anything further to ask here. Otherwise, could you close this issue now?

[2020-05-14 04:54] kumbhaj commented on #453
Thank you. Yes, Please close it

[2020-05-14 04:54] #453 closed

[2020-05-15 13:27] emanguy commented on #428
Okay, this all makes sense. I'm leaning more towards the design you suggested previously as it is less repetitive than `actionId = ...`, `text = ...`, etc.:

[code]

Should I move forward with this design or should we refine it further? Apologies for trying to take the design in an unfavorable direction for so long.

[2020-05-17 03:33] seratch commented on #428
Thanks for your understanding.

I think we can move it forward with the design. If we find further topics after starting its implementation, let's use this issue to discuss those.

If you create a WIP pull request for this task, I also can submit suggestions or partial changes towards your fork's branch 💪

[2020-05-18 11:54] stressedoutt opened #456 "Can't deserialize valid ViewSubmissionPayload string"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

When i tried to deserialize valid block kit builder template to ViewSubmissionPayload, i've got an error message saying `com.google.gson.JsonSyntaxException: java.lang.IllegalStateException: Expected STRING but was BEGIN_OBJECT at path $.hi

[2020-05-18 13:08] seratch commented on #456
@stressedoutt Thanks for reporting this. The issue was reported by #410 and I've resolved it by https://github.com/slackapi/java-slack-sdk/commit/f975dbd1fcc76e02e1d1944b8f84a973910efd3d

However, the change is not yet backported to jSlack maintenance releases. I've filed a ticket in the project. https://github.com/seratch/jslack-maintenance-releases/issues/11 As I'll update you at the jslack-main

[2020-05-18 13:09] #456 closed

[2020-05-18 13:18] stressedoutt commented on #456
thanks a lot for your fast reply, let me try the java-slack-sdk instead

[2020-05-18 13:39] stressedoutt commented on #456
thanks again, works like a charm

[2020-05-19 16:27] natevaughan opened #458 "Use payload classes without depending on Bolt framework"
### Move interactive payloads to `com.slack.api:slack-api-model`

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Allow apps not using Bolt to easily deserialize interaction payloads by moving interactivity payloads to the `com.slack.api:slack-api-model` module

Hi!

First, thanks for your amazing work on this SDK. I have to say it's one of best SDK I've yet u

[2020-05-19 20:52] seratch commented on #458
@natevaughan I'm very glad to hear that this project is of value to you!

Regarding the question here, I think there is no necessity to depend on `bolt-servlet` dependency. Your project requires only `slack-api-model` and `slack-app-backend`. The interactivity payloads you mentioned are in `slack-app-backend`. This package provides primitive classes and APIs and is a foundation of Bolt. Needless t

[2020-05-19 22:37] natevaughan commented on #458
Perfect! Don't know how I missed that.

Thanks for the examples; I just noticed that `PayloadTypeDetector` is provided. Great to know I don't have to implement my own.

It might be a good idea to update this block of documentation from the ["Under The Hood" section of the interactivity documentation](https://slack.dev/java-slack-sdk/guides/interactive-components):
[code]

I think it could be:
[cod

[2020-05-19 23:16] seratch commented on #458
Thanks for the suggestion! Indeed, this is a nice improvement. I'll be on it later.

[2020-05-20 03:06] seratch commented on #458
I've updated the document. Let me close this issue now!

[2020-05-20 03:06] #458 closed

[2020-05-21 06:56] seratch opened #462 "Calls API support"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

<a href="https://api.slack.com/changelog"><img width="400" src="https://user-images.githubusercontent.com/19658/82531504-7e917a00-9b7a-11ea-9d8c-3162b510e02f.png"></a>

Five `calls.*` API methods are now public.

* [calls.add](https://api.slack.com/methods/calls.add)
* [calls.end](htt

[2020-05-21 13:40] gaspardpetit opened #464 "The RTM client silently disconnects after a few hours"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

The RTM client will silently disconnect after a few hours. There does not seem to be any callback being triggered or easy ways to check the status of the websocket from the RTM api.

I have produced PR https://github.com/slackapi/java-slack-sdk/pull/459 to support ping/pong messages a

[2020-05-21 13:53] seratch commented on #464
It seems we need to implement [this logic](https://tyrus-project.github.io/documentation/1.13.1/user-guide.html#d0e1311
) in [`RTMClient#connect()` method](https://github.com/slackapi/java-slack-sdk/blob/v1.0.7/slack-api-client/src/main/java/com/slack/api/rtm/RTMClient.java#L83).

[2020-05-21 15:15] shakismyname opened #465 "SSL error posting to hooks.slack.com"
### Issue Type

SSL error

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

We had a 4 errors last night posting to hooks.slack.com that were all SSL errors. Many of our webhooks did succeed, though, so we're perplexed what could be causing this issue. Is it a bug in the usage of okhttp, or was this a cert issue on Slack's end?

Here's a piece of t

[2020-05-21 15:27] seratch commented on #465
This looks like the same issue with https://github.com/slackapi/java-slack-sdk/pull/452 which is an OpenJDK 11's bug.

https://travis-ci.org/github/slackapi/java-slack-sdk/jobs/686013064

[code]

A workaround is `-Djdk.tls.client.protocols=TLSv1.2`. Or, using other Open JDK major version may help.

[2020-05-21 15:32] shakismyname commented on #465
Oh! Didn't see that when initially searching. We'll update the package and reopen if this issue persists.

Thanks so much!

[2020-05-21 15:32] #465 closed

[2020-05-22 01:39] gaspardpetit commented on #464
I'll try it out and report, but I am suspicious. The websocket link Slack provides is [only valid for 30 seconds](https://api.slack.com/rtm):

So I would think that letting Tyrus automatically reconnect to the same URL would fail. I'll try it and report back my findings. Otherwise, we can at least trigger an event and let the application manually call `reconnect` on the RTMClient

[2020-05-22 13:21] gaspardpetit commented on #464
So that was interesting.

[code]

It tried three time (I had that configured) and each time failed because of `Socket URL has expired` as I expected. However, it ended up triggering the `session closed` and my app picked that up and was able to reconnect (I had reconnect logic outside of the websocket, but was not getting this `session closed` event before.

So, I would say partial success. A quic

[2020-05-22 13:28] martinhug opened #467 "NoSuchMethodError in FileUpload Method"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x ] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

**TODO**:
(Describe your issue here)
I have a Problem using the SDK with the WebAPI.
When I call the fileUpload Method i receive a "NoSuchMethodError".
Inside the RequestformBuilder Class inside the MultipartBody.Builder the RequestBody.cr

[2020-05-22 13:33] seratch commented on #467
This library is compatible with okhttp 4.x. If your app has to use okhttp 3.x for some reason, you cannot use this library in the project.

[2020-05-22 13:47] seratch commented on #464
I'm still not sure about what your "quick fix" is yet but I'd love to know what it is. Could you make a WIP pull request?

When it comes to consistency among 1st party Slack API SDKs, node-slack-sdk and python-slackclient have the concept - `autoReconnect: boolean` while this library doesn't. I'm keen to have the option and make it the default behavior as with those SDKs.

[2020-05-22 14:44] eamelink opened #468 "auth.test short-time cache for SingleTeamAuthorization"
### Issue Type

- [?] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I am building a slack app with Bolt, and I'm observing a request to `auth.test` for every incoming request. This comes from here: https://github.com/slackapi/java-slack-sdk/blob/ac2a0107f1a2ac20db20704ac298a44aa4d35a28/bolt/src/main/java/com/slack/api/bolt/middleware/builtin/SingleTea

[2020-05-22 21:29] seratch commented on #467
@martinhug As I as a maintainer of this project don't have any further actions to take, please allow me to close this issue. Please consider upgrading okhttp from 3.14.7 to the latest (4.x).

[2020-05-22 21:29] #467 closed

[2020-05-22 21:36] seratch commented on #468
If a token has been revoked, the following middleware, Web API calls fail due to the invalid token. So, checking the validity of tokens every time is the safest way. Also, it's totally fine to excessively call `auth.test` in terms of rate limits.

But I agree that it may be a bit overhead for response time and like the idea to have a short-time cache for it. We should keep the current behavior (=c

[2020-05-23 13:09] gaspardpetit commented on #464
I'll still investigating. I tried a few things - the last "disconnect" I had looked like this:

[code]

So it looks like we have to handle that one as well (https://api.slack.com/events/goodbye)

[2020-05-24 04:13] seratch commented on #464
Thanks for sharing this! Indeed, this library doesn't provide an automatic-reconnect feature when receiving `goodbye` events yet. As `GoodbyeHandler` interface already exists, all we need to do is implement `GoodbyeHandler` which acquires a new WebSocket endpoint and reconnects to the server-side + enable it as a built-in one.

[2020-05-24 18:39] gaspardpetit commented on #464
Hi again,

So good news is that my bot has been able to survive the 8h disconnect from Slack by handling the `goodbye` event. However I am not sure how this should be handled by the java sdk.

My existential concern is the following: I see two ways of handling the loss of the websocket:

1. Handled internally by the Slack SDK - this is the most convenient approach for anyone who's expecting the sd

[2020-05-24 23:18] seratch commented on #464
Thanks for sharing your well-considered resolution for this.

For the cases that the auto-reconnect logic should consider are:
* :one: `rtm.connect`/`rtm.start` failures due to Slack outage
* :two: `rtm.connect`/`rtm.start` failures due to rate_limited errors (rtm.* are Tier1)

Regarding :one:, as you mentioned, waiting for the recovery a bit longer than usual and showing the status in info-level

[2020-05-25 21:05] emanguy commented on #428
The first draft of the DSL and client extensions are tentatively done, I think I just need to add some more extensive testing and doc comments.

One addition I made that was slightly off-script was within the scope of the Rich Text Element builders. I added some simple overloads for some rich text elements for the case where you just want to add things like emoji or text but don't want to add a fu

[2020-05-27 00:18] #462 closed

[2020-05-27 01:48] seratch commented on #414
https://api.slack.com/changelog

[2020-05-27 11:10] seratch commented on #428
@emanguy Thanks for your amazing work in the PR! It already looks so great. Can you check the following?

* Your branch is based on a bit old revision - could you rebase on the latest master branch? I've sent a PR for it: https://github.com/emanguy/java-slack-sdk/pull/2
* Based on the above, I would like to propose some changes. Check my comments on this commit: https://github.com/seratch/java-sla

[2020-05-27 19:04] natevaughan opened #474 "MethodsClientImpl oauthV2Access: redirect_uri should be optional"
### Issue Type
[ x ] Bug
[ ] Enhancement / Feature request
[ ] Question
[ ] Documentation

### Description

Hi @seratch !

I'm seeing this error when sending a null `redirect_uri` in `OauthV2AccessRequestBuilder`:

[code]

It seems OKHTTP's form builder specifies that all param values must be non-null.

I think simply wrapping [this line](https://github.com/slackapi/java-slack-sdk/blob/master/slac

[2020-05-27 22:47] seratch commented on #474
@natevaughan Thanks for reporting this. You're right. I will be fixing this very soon.

[2020-05-27 23:48] #474 closed

[2020-05-27 23:55] seratch commented on #474
Thanks again. I will be releasing a new patch version today (+09:00)

[2020-05-28 12:04] natevaughan commented on #474
Thank you @seratch, amazing work at amazing speed!

[2020-05-29 22:38] gaspardpetit commented on #464
Sorry for the radio silence. I tried a few things and each time it's a 8+ hour wait to validate :)

It turns out that catching `GoodbyeEvent` and calling `disconnect` on the client when it happens is sufficient to keep the bot running. The disconnect then correctly calls the close callback and the bot gets a chance to reconnect.

What I still don't understand, is why the close event does not get s

[2020-05-29 23:40] seratch commented on #464
@gaspardpetit Thanks for the response and I'm glad to hear that your app has been working well. I would like to know more details about your code with goodbye events. Does it look like this?
https://github.com/seratch/java-slack-sdk/commit/292339c87e348613843516cc762aae0ad1029fff

Also, if my implementation is valid (I haven't done any tests yet though), what do you think about having this impleme

[2020-05-30 03:56] gaspardpetit commented on #464
Hi @seratch - thanks for looking at improving this! I attempted to do something similar to what you did here. The limitation in this implementation is the case where you will end in the `Failed to reconnect to Slack` case. I was not sure what would happen and did not have time to fully test. Would `CloseHandler` be called if the `reconnect` fails? If so, I think your solution is good, because it m

[2020-05-30 04:39] gaspardpetit commented on #464
So I gave it some thoughts, I think you're on a good track. What about this?

https://github.com/eidosmontreal/java-slack-sdk/commit/eb47f3aeb95da14a21ac99dea11cacd38ed73454

[2020-05-31 00:18] seratch opened #477 "Add default_to_current_conversation in (multi_)conversations_select"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

The property was released very recently.

* conversations_select: https://api.slack.com/reference/block-kit/block-elements#conversation_select
* multi_conversations_select: https://api.slack.com/reference/block-kit/block-elements#conversation_multi_select

### Requirements (place an `

[2020-05-31 01:38] seratch commented on #464
@gaspardpetit Thank you very much for sharing your knowledge! These are really helpful. To improve the connection management, I would like to implement auto-reconnect and ping/pong heartbeat (it seems tyrus-standalone-client doesn't have the option, so that we need to implement it on our end). If you have interests and time for writing the code, I'd love to work with you on it.

[2020-06-01 18:31] rmccright-usf opened #479 "Question about adding SpringBoot Bolt App GET endpoints"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I have a Spring Boot Bolt App created similarly to the guides and examples. One of my Bots functionalities to to facilitate Oauth Authorization Code grant type for a 3rd party library. This requires a callback endpoint on the Bot. This endpoints needs to be a GET request.

Using the @

[2020-06-01 21:45] seratch commented on #479
@rmccright-usf Check
https://github.com/slackapi/java-slack-sdk/blob/v1.0.8/bolt-servlet/src/main/java/com/slack/api/bolt/servlet/SlackOAuthAppServlet.java

[2020-06-01 21:48] seratch commented on #479
@rmccright-usf Check [SlackOAuthAppServlet](https://github.com/slackapi/java-slack-sdk/blob/v1.0.8/bolt-servlet/src/main/java/com/slack/api/bolt/servlet/SlackOAuthAppServlet.java) may be helpful to know that. As long as you configure `App` correctly (client_id, client_secret, scope etc), it should work. Check [this document](https://slack.dev/java-slack-sdk/guides/app-distribution) to know how to

[2020-06-03 09:17] gaspardpetit commented on #464
@seratch I will keep looking at this on the side; I can already comment that the code I linked above does not work. Failures to reconnect in the reconnect thread spawn new threads and I ended up with multiple threads trying to reconnect and being rate-limited by Slack 😓

I believe creating a daemon thread like you suggested is the right approach. I will look into this and get back to you.

[2020-06-03 13:45] rmccright-usf commented on #479
So, using this method I am getting this error. Perhaps this is because I am only trying to use the callback ability. Specifically I am trying trigger a callback for authenticating to a NON SLACK api with Oauth through Slack messages.

`2020-06-03 09:30:27.744 DEBUG 40667 --- [nio-3000-exec-2] com.slack.api.bolt.App                   : The handler started (request type: OAuthCallback)
2020-06-03 09

[2020-06-03 13:56] seratch commented on #479
@rmccright-usf The error indicates your Bolt app doesn't have clientId and clientSecret. These are required for calling `oauth.v2.access`.

* https://github.com/slackapi/java-slack-sdk/blob/v1.0.8/bolt/src/main/java/com/slack/api/bolt/App.java#L835 https://github.com/slackapi/java-slack-sdk/blob/v1.0.8/bolt/src/main/java/com/slack/api/bolt/AppConfig.java#L63-L65

I strongly recommend using state p

[2020-06-09 08:27] falkenstein opened #482 "Hostname slack.com not verified (no certificates)"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

Hi, while using the Slack SDK with Kotlin, we've encountered a weird issue and we're honestly not 100% if it isn't on our side. When using the SDK and making Slack calls we randomly get the following:

[code]

The issue is random, i.e. only happens sometimes, but looks like it never h

[2020-06-09 08:35] seratch commented on #482
@falkenstein probably, this is the same as https://github.com/slackapi/java-slack-sdk/issues/465#issuecomment-632150000

[2020-06-09 10:31] falkenstein commented on #482
@seratch thanks a lot for your super-fast reply :+1:  - I will try the workaround and confirm here that it worked

[2020-06-10 00:16] timrourke opened #483 "Question about how to use Scalatra with Bolt"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I'm trying to figure out how to use `com.slack.api.bolt.App` with a brand new Scalatra application. Was hoping @seratch might have some insight since it looks like you contribute to both this project and to Scalatra.

Right now I'm trying to define a Scalatra `POST` request handler fo

[2020-06-10 04:37] seratch commented on #483
@timrourke Happy to know you're interested in building Slack apps in Scala 😃

Indeed, the request parser in Scalatra works weirdly... 🤔 If you go with Scalatra, utilizing `com.slack.api.bolt.servlet.SlackAppServlet` would be the easiest way. The following code should work as-is for you.

[code]

That said, Play Framework may be much more popular than Scalatra. Considering the future maintenance, u

[2020-06-10 04:49] seratch commented on #483
### Limitations with Scala

For your information, there are some limitations to know if you use Bolt in Scala.

As all listener types in Bolt are compatible with Java's functional interface, you can define listeners in handy ways:
* Java: `app.command("/hi", (req, ctx) -> ctx.ack())`
* Kotlin: `app.commnad("/hi") { req, ctx -> ctx.ack() }`

However, you cannot go in a similar way in Scala. For ins

[2020-06-10 10:53] timrourke commented on #483
@seratch you answered my question, you taught me a lot, and you even provided non-trivial code examples. I'm so grateful!

It looks to me like Play may be a better option, and is more likely to be familiar to future hires on my team. Thanks for the recommendation.

Scala is interesting to me because I currently work on a data team that is already invested in Scala thanks to Apache Spark. Helping t

[2020-06-10 10:57] timrourke commented on #483
@seratch these answers might be worth enshrining in the docs for future weary adventurers! Let me know, happy to open a PR to write the documentation based on your gists.

[2020-06-10 10:57] #483 closed

[2020-06-11 03:31] timrourke opened #485 "MultiTeamsAuthorization issue with slash commands?"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

While attempting to follow [the example you shared with me on how to build a Scala application using Play](https://github.com/slackapi/java-slack-sdk/issues/483), I'm receiving an error that states the following:

This app was not able to respond to your action. Please install this Sl

[2020-06-11 03:48] seratch commented on #485
@timrourke Hello again!

Is it intentional to enable `MultiTeamsAuthorization` for your apps? To know what it is, reading the following document should be helpful.

* https://api.slack.com/authentication/oauth-v2
* https://slack.dev/java-slack-sdk/guides/app-distribution

If you're fine with `SingleTeamAuthorization`, all you need are `SLACK_BOT_TOKEN` and `SLACK_SIGNING_SECRET`. If you have to ke

[2020-06-11 11:53] timrourke commented on #485
Thanks again @seratch, that did the trick! I think the behavior of the application automatically configuring itself to expect multi-teams authorization because of the presence of additional environment variables is a little bit surprising, though probably useful.

Is this behavior documented somewhere that I failed to see? If not, is this something that would benefit from being clarified in docume

[2020-06-11 11:53] #485 closed

[2020-06-11 14:54] seratch commented on #485
When we talk about the additional env variables, all of them are listed here: https://slack.dev/java-slack-sdk/guides/app-distribution#slack-config-for-distributing-your-slack-app

I don't believe many developers can be confused with this behavior. They won't be able to get to know the env variable names without reading the above page. If a developer goes with manual `AppConfig` initialization, th

[2020-06-11 23:01] #477 closed

[2020-06-12 13:37] seratch commented on #479
@rmccright-usf Have you had a chance to check this? Let me know if you have anything further to ask. If my above answer is helpful enough, could you close this question?

[2020-06-13 20:29] timrourke opened #488 "Use Bolt for Sign in with Slack?"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I'm curious about using Bolt to manage OAuth2 flows for both:
- installing an application into a third party's Slack workspace
- _and_ for using Slack for "Sign in with Slack" functionality

What I see when completing the OAuth2 flow for installing applications is that it is in fact p

[2020-06-14 01:22] seratch commented on #488
If the intention of the "dual-purpose" here is reusing POST `/slack/events` endpoint for handling incoming requests from other services, my short answer is no. The endpoint the built-in middleware such as RequestVerification, MultiTeamsAuthorization are enabled is supposed to handle only incoming requests from the Slack API server.

So, I recommend having other URLs for any other purposes. For han

[2020-06-14 10:51] timrourke commented on #488
Thanks as always, @seratch! Great advice, appreciate the tip about cookie naming.

[2020-06-14 10:51] #488 closed

[2020-06-15 21:53] lgrammel opened #489 "Event type extract does not match correctly if there are "type" properties in JSON subentries."
The current code for extracting event types seems to assume that the "type:" entry that contains the event type is the first type entry in the JSON that follows "event:". However, this is not always the case.

E.g. in the following message `{"authed_users":["RETRACTED"],"event_id":"RETRACTED","api_app_id":"RETRACTED","team_id":"RETRACTED","event":{"client_msg_id":"b5ac4998-4526-4d0b-8bb0-7bd614c1b

[2020-06-15 21:54] lgrammel commented on #489
(as a workaround I can reorder the fields in the JSON message that gets sent into the EventTypeExtractor so the detection works correctly)

[2020-06-15 22:50] seratch commented on #489
@lgrammel Thanks for taking the time to report this! I will fix this and release a new patch version very soon.

[2020-06-17 07:01] lgrammel commented on #489
@seratch awesome, thank you! it's great to have this SDK available, makes developing Slack apps a lot easier!

[2020-06-17 12:14] timrourke opened #491 "Allow users to specify redirect_uri during OAuth flow?"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I have been using your excellent SDK to do two things:
1. Support installing an app
2. Support "Sign in with Slack"

My use case treats those as separate concerns in how my application works. My solution for supporting logging in with Slack OAuth involves defining 2 separate `com.slac

[2020-06-17 13:03] seratch commented on #491
@timrourke
Thanks for flagging this. Indeed, the `redirect_uri` is not yet supported in `authorize` URL generation (although verification with an `oauth.v2.access` API call works even without doing so). We can definitely update the logic to support the missing piece.

When it comes to a bit details of the implementation, as the `redirect_uri` is an optional parameter, we should have null check bef

[2020-06-17 14:50] timrourke commented on #491
@seratch I'll open a PR shortly.

[2020-06-17 14:56] timrourke commented on #491
@seratch here is the relevant PR: https://github.com/slackapi/java-slack-sdk/pull/492

[2020-06-18 00:55] #491 closed

[2020-06-18 00:57] seratch commented on #491
Thanks for reporting and fixing this. The change will be included in the next patch version - https://github.com/slackapi/java-slack-sdk/milestone/5

[2020-06-18 04:58] #489 closed

[2020-06-20 07:57] Hariprasad-Ramakrishnan opened #494 "files list is absent in MessageEvent of MessagePayload to support attachments in message event"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

**TODO**:
When a user adds attachments, this comes as `files` in the slack message event. But `files` field is absent in `MessageEvent` of the sdk.

**TODO**:
* [x] I've read and understood the [Contributing guidelines](https://github.com/s

[2020-06-20 17:01] Hariprasad-Ramakrishnan commented on #494
@seratch , Please consider this PR : https://github.com/slackapi/java-slack-sdk/pull/495

[2020-06-20 20:38] emanguy commented on #428
Hey there! I just added a bunch of tests which brings our class coverage up to 100% and our method coverage to 75%. I think the code is ready for review and merge, if possible. Thanks for all the feedback!

[2020-06-23 08:29] seratch opened #498 "Add bolt-google-cloud-functions (Google Cloud Functions for Java 11)"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Google Cloud Functions started supporting Java 11 apps.
https://cloud.google.com/blog/products/application-development/introducing-java-11-on-google-cloud-functions

As with [bolt-aws-lambda](https://github.com/slackapi/java-slack-sdk/tree/master/bolt-aws-lambda), we can provide an op

[2020-06-23 10:34] seratch opened #499 "Add proxy system properties support (http.proxyHost / http.proxyPort)"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

In v1.0.x versions, `slack-api-client` users have to manually extract `http.proxyHost` and `http.proxyPort` from system properties, concatenate those into a single string value, and then call `SlackConfig#setProxyUrl(String)` with the generated URL.

As those system properties are the

[2020-06-23 11:00] seratch opened #501 "Add Kotlin DSL document when releasing v1.1"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

* https://github.com/slackapi/java-slack-sdk/issues/428
* https://github.com/slackapi/java-slack-sdk/pull/469

The new Kotlin extension modules are ready to merge and we're going to include them in v1.1.0. When releasing the version, we'll update the document to mention those new Kotl

[2020-06-23 14:31] emanguy commented on #501
Let me know if there are any examples I can contribute!

[2020-06-24 00:37] seratch commented on #501
@emanguy Thanks for offering your help! If you're interested in writing the draft of the above documents (mainly guide for Gradle project setup and common code examples), it would be greatly appreciated. Sharing your examples in a comment here is also helpful!

[2020-06-24 00:59] seratch commented on #428
As the remaining documentation task will be tracked by #501 , let me close this issue now.

Before closing, let me repeat [the same comment](https://github.com/slackapi/java-slack-sdk/pull/469#issuecomment-648519210) here - I'm really glad to have such amazing modules in this SDK 🎉  Thanks a lot for your great efforts 🙇

[2020-06-24 00:59] #428 closed

[2020-06-24 01:03] emanguy commented on #501
Sure, I can just draft up some markdown files or something. Where should I put them?

[2020-06-24 01:08] seratch commented on #501
Checking this PR https://github.com/slackapi/java-slack-sdk/pull/402/files is helpful to understand where to touch. Of course, you don't need to worry about anything about Japanese version. I will work on it after finalizing the English document.

If you're not familiar with Jekyll, follow the instructions here: https://github.com/slackapi/java-slack-sdk/blob/master/docs/README.md

[2020-06-24 01:09] #494 closed

[2020-06-24 01:25] #499 closed

[2020-06-24 12:42] emanguy commented on #501
Pull request is up 👍

[2020-06-26 15:53] aoberoi commented on #468
after doing some thinking about this, I think we might be okay with only calling `auth.test` once upon boot and saving it as a constant for the lifetime of the app.

if we keep the current implementation and the token is not valid (was revoked or any other reason), then we will emit an error for the developer to handle. there is no smarter behavior we can do (such as refreshing a token). the same

[2020-06-26 16:27] seratch commented on #468
Thanks for your comment. It may be true for the single team auth. In reality, there is no actual difference between creating permanent cache when booting vs maintaining cache with a short TTL. I'll change the implementation for simplicity and also aligning with Bolt for JS.

On the other hand, for multiple teams auth, such a permanent cache may not be a good fit. At least I don't see any benefits

[2020-06-29 00:58] seratch commented on #482
@falkenstein Let me know if you need more help here! If the workaround worked for you, could you close this issue?

[2020-07-08 06:13] #468 closed

[2020-07-09 14:20] teamstand-rishabh commented on #494
can you update the same in maven repo

[2020-07-09 14:28] teamstand-rishabh opened #510 "MessageFileShareEvent is not yet available in the latest version (1.0.11)"
Currently most recent version available in maven repo is 1.0.11.
Please update the  latest version

[2020-07-09 15:24] seratch commented on #494
We'll be releasing a new version early next week.

[2020-07-09 15:25] seratch commented on #510
Please wait for a little more. We'll be releasing a new version early next week.

[2020-07-09 15:33] teamstand-rishabh opened #511 "No way to get thread id (ThreadTs) from MessageFileShareEvent"
I want to reply on the same thread but not getting threadTs
with MessageEvent its working fine
ChatPostMessageResponse response = ctx.client().chatPostMessage(r -> r.channel(ctx.getChannelId())
					.threadTs(req.getEvent().getThreadTs()).text(":wave: How are you?"));

[2020-07-09 15:34] teamstand-rishabh commented on #510
Thanks for the update

[2020-07-09 15:58] seratch commented on #511
You can use event.ts for it. req.getEvent().getTs() should work for you.

[2020-07-09 16:00] teamstand-rishabh commented on #511
Yes I have tried that but its not working. Its not posting message in same thread.

[2020-07-10 05:59] seratch commented on #511
Just in case, I just tried it out and confirmed using `event.ts` for `thread_ts` param in `chat.postMessage` calls works for me.

To help you out, we need more information. What was the outcome of `chat.postMessage`? Did you get an error code in its response?

[2020-07-10 07:39] teamstand-rishabh commented on #511
I am using this
`app.event(MessageFileShareEvent.class, (payload, ctx) -> {
			System.out.println(payload.getEvent().getType());
			System.out.println(payload.getEvent().getSubtype());
			// FileSharedEvent event = payload.getEvent();

			ChatPostMessageResponse response = ctx.client()
					.chatPostMessage(r -> r.channel(ctx.getChannelId()).threadTs(payload.getEvent().getTs())
							.text("File

[2020-07-10 07:45] teamstand-rishabh commented on #511
If I am using fresh message. Its working fine. In that case event ts and thread ts are same.
But when I reply on existing thread, its not working as expected.

[2020-07-10 07:59] seratch commented on #511
Thanks for elaborating on your issue. Now I understand it.

I'll escalate this feedback to the teams concerned. Unfortunately, I cannot tell whether the server-side may add `thread_ts` for file sharing event payloads in the future.

A possible implementation idea I can share at this moment would be utilizing https://api.slack.com/methods/conversations.replies every time you receive this type of ev

[2020-07-11 02:03] seratch commented on #479
As I don't have any further actions to take here, please allow me to close this issue now. If you have more to ask here, please feel free to write in or reopen.

[2020-07-11 02:03] #479 closed

[2020-07-13 08:46] seratch commented on #501
Thank you very much for your contribution here. All the changes have been merged into the `main` branch. I will be releasing v1.1.0 tomorrow. After publishing the jars to Maven Central, I will merge all document changes to the `master` branch (GitHub Pages).

[2020-07-13 08:46] #501 closed

[2020-07-13 10:27] emanguy commented on #428
Hey @seratch, it looks like everything got merged but I'm not seeing the kotlin DSL artifacts posted to Maven Central. Did we miss the packages in a publishing script or something?

[2020-07-14 05:08] seratch commented on #510
v1.1.0 jars are available in Maven Central repositories. https://repo1.maven.org/maven2/com/slack/api/

[2020-07-14 05:08] #510 closed

[2020-07-18 10:26] AbhiInfy opened #518 "Getting NoSuchMethodError kotlin.collections.ArraysKt.copyInto Exception"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

**TODO**:
(Describe your issue here)
Getting NoSuchMethodError kotlin.collections.ArraysKt.copyInto([B[BIII) while starting application
Description:

An attempt was made to call a method that does not exist. The attempt was made from the fo

[2020-07-18 10:51] seratch commented on #518
@AbhiInfy

The error message indicates your build settings (or IDE settings) have some binary-compatibility issue with the Kotlin standard library.

This SDK requires okhttp library, which depends on Kotlin 1.3.x. Try Kotlin 1.3.x instead.

[2020-07-21 22:19] slushpupie opened #519 "Audit Log API Doesn't Use Pagination"
### Issue Type

- [X] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

When using the Audit Log API, it does not support pagenation, so if request results are larger than the allowed limit (mac 9999 according to the API docs) there is no way to get the other results.

---

The issue is reproducible in:
* Module Version: 1.1.0
* JDK Version: openjdk versi

[2020-07-22 06:38] seratch commented on #519
This has been fixed by #520 - thanks for your contribution!

[2020-07-22 06:38] #519 closed

[2020-07-22 06:53] seratch commented on #482
As we don't have any further actions to take here, allow me to close this issue now. Please feel free to reopen or write in when needed.

[2020-07-22 06:53] #482 closed

[2020-07-23 06:33] teamstand-rishabh opened #521 "Missing fields in MessageFileShareEvent"
Need these Fields in **MessageFileShareEvent.java**
[code]

**They are present in MessageEvent.java**

[2020-07-24 01:21] seratch commented on #521
Hello, thanks for writing in! I've checked this out and found that indeed, some fields available in a payload are missing in the class. I don't think a `file_share` subtype payload has `team` and `bot_id`. I'll add `thread_ts` and `parent_user_id` to the definition.

[2020-07-24 01:47] seratch commented on #518
Let me know if you need further help here. Please allow me to close this issue after waiting for your response for a few more days.

[2020-07-24 01:52] seratch commented on #511
@teamstand-rishabh I might overlook something two weeks ago but now I'm getting `thread_ts` in the `file_share` message events. This PR https://github.com/slackapi/java-slack-sdk/pull/522 I just created seems to be a solution for your use case. Please let me know if I misunderstand your issue here.

[2020-07-24 10:13] sikorski-as opened #523 "no_file_data error when using fileData with no filename"
### Issue Type
- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
I'm trying to upload an image in a Spring Boot + kotlin application using the slack-jdk but unfortunately it fails to upload the file content. I'm almost sure that something is wrong with building a multipart message since sending a file with text content works fine. Might be worth chec

[2020-07-24 10:23] teamstand-rishabh commented on #521
I checked slack event payload and "team_id" is present in it. Can you please populate that team_id in the MessageFileShareEvent  like MessageEvent.

[2020-07-24 10:44] seratch commented on #521
@teamstand-rishabh The field is included in this class as with others. https://github.com/slackapi/java-slack-sdk/pull/522/files#diff-bba7b3dac92de864436e59aed7f2c5ce

[2020-07-24 10:50] teamstand-rishabh commented on #521
Thanks for that. But can you add in the MessageFileShareEvent.java
Like in the MessageEvent.java https://github.com/slackapi/java-slack-sdk/blob/main/slack-api-model/src/main/java/com/slack/api/model/event/MessageEvent.java#L28

[2020-07-24 11:15] seratch commented on #523
@sikorski-as Thanks for taking the time to report this!

When you use the `fileData` setter method instead of `file`, giving `filename` at the same time is the way to use the method in the latest version. Here are some test cases reproducing the behaviors. https://github.com/seratch/java-slack-sdk/commit/8ec78c5eaba462b8ba08fb7f56839642a7ccfb9b

That being said, I do understand this is confusing.

[2020-07-24 11:19] seratch commented on #521
@teamstand-rishabh No, I don't add the field in `file_share` events as it doesn't exist in a real payload. I do understand your inconvenience due to the inconsistency here. However, as an SDK developer, I cannot add any fields that don't exist in the actual payload.

[2020-07-24 11:23] sikorski-as commented on #523
Well, this is surprising 😄

I added a filename and it fixed the issue, file uploads appropriately.
Thanks for a quick response!

[2020-07-24 18:00] slushpupie opened #525 "Audit log dosn't support response with `pref.who_can_manage_shared_channels`"
### Issue Type

- [X] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

When requesting audit logs that contain the action type `pref.who_can_manage_shared_channels` the payload response can't be marshaled into a Java object. I worry there may be other action type results that are not handled correctly.

---

The issue is reproducible in:
* Module Version

[2020-07-27 22:12] #521 closed

[2020-07-27 22:14] seratch commented on #511
fixed by #522

[2020-07-27 22:14] #511 closed

[2020-07-27 22:51] #523 closed

[2020-07-28 02:48] #525 closed

[2020-07-29 23:03] seratch opened #527 "Header block support"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Header Block is now available.

https://api.slack.com/reference/block-kit/blocks#header

[code]

### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.github/contributi

[2020-07-30 00:23] seratch commented on #518
Closing now. Please feel free to reopen if needed.

[2020-07-30 00:23] #518 closed

[2020-07-31 00:47] #527 closed

[2020-08-02 11:24] AbhiInfy opened #530 "How to send a DM message using Java sdk"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [ ] Documentation

### Description

I want to send DM to the User and would need to follow the below steps:

1. Lookup user ID from email: https://api.slack.com/methods/users.lookupByEmail

2. Open DM with user: https://api.slack.com/methods/conversations.open

3. Send a message to the DM: https://api.slack.com/methods/

[2020-08-02 12:20] seratch commented on #530
As `invalid_auth` indicates, an access token (bot token or user token) is missing or invalid. Make sure if your code uses a valid token for those API calls.

Particularly, please verify the `"******"` part in the code. I know you use a real token here but the value may be incorrect.

[2020-08-04 08:45] dashorst opened #531 "Add support for header block"
### Issue Type

- [ ] Bug
- [X] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

The online Block Kit API has support for the Header block element. The code below will add the support.

[code]

### Requirements (place an `x` in each of the `[ ]`)

* [X] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.g

[2020-08-04 08:48] #531 closed

[2020-08-04 09:27] seratch commented on #531
As you noticed, this is already resolved by #528 but we haven't released a new patch version including the change. I'll be releasing the version within a few hours. Please wait for a moment!

[2020-08-04 09:44] AbhiInfy commented on #530
Thanks for the reply.
I have double-checked. My user token is correct. Do I need to provide any access right for it?

[2020-08-04 09:49] seratch commented on #530
If your app doesn't have required scopes for it, you should get `missing_scope` error code instead. So, in this case, I think the lack of OAuth scopes is not the cause. I recommend testing with https://api.slack.com/methods/chat.postMessage/test to verify the token surely works.

[2020-08-04 09:52] seratch commented on #531
Try v1.1.2 out! https://github.com/slackapi/java-slack-sdk/releases/tag/v1.1.2

[2020-08-04 10:04] AbhiInfy commented on #530
Still getting below response:
{
    "ok": false,
    "error": "invalid_auth"
}
{Right now I m using Verification Token which is available under Basic Information with App Credentials(App ID, Client ID, Client Secret, Verification Token etc..)
I can see OAuth Access Token Under OAuth and Permission.
So which one need to use Verification Token or OAuth Access Token.

And with OAuth Access Token, get

[2020-08-04 10:19] seratch commented on #530
You cannot use a verification token for web api calls (it’s a legacy way to verify incoming requests from Slack). You need to use access tokens that start with xoxb- or xoxp-.

With an OAuth token, it seems you’ve got a missing_scope error. Please add chat:write scope and reinstall the app.

[2020-08-05 07:58] AbhiInfy commented on #530
It's working fine. Thanks.
Now as discussed in the main query that I want to achieve the below steps:
1. Lookup user ID from email: https://api.slack.com/methods/users.lookupByEmail

2. Open DM with user: https://api.slack.com/methods/conversations.open

3. Send a message to the DM: https://api.slack.com/methods/chat.postMessage

4. May need to close the DM afterwards: https://api.slack.com/method

[2020-08-05 08:58] seratch commented on #530
As described in the API method documents, you need to add the following scopes for `users.lookupByEmail` and `conversations.open/close`.

* `users:read.email`
* `channels:manage`

[2020-08-05 11:19] AbhiInfy commented on #530
but channels: manage is applicable for token type **bot** and I'm using Token type **user**
Right now I have below User Token scops:
channels:history, channels:read, channels:write, chat:write,  groups:write, im:write, mpim:write, users:read, users:read.email

[2020-08-05 12:19] seratch commented on #530
All the APIs you mentioned are available for user tokens too. For step 2, send a valid list of user IDs to `conversations.open` API.

By the way, this issue tracker is for the ones specific to the Java SDK. Also, my main role here is to maintain better SDKs. So, (I hate to say this but) for general questions about Slack APIs, could you submit questions at https://my.slack.com/help/requests/new ins

[2020-08-05 13:02] AbhiInfy commented on #530
Thanks a lot for your kind support.

[2020-08-05 21:36] #530 closed

[2020-08-06 11:17] seratch opened #533 "Fails to parse CallBlock when receiving a message including a call block"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

Due to the wrong typing for call type blocks, slack-api-client fails to parse message objects including a call type block. The trigger was the newly added `media_backend_type`field. The current class doesn't consider different types of objects under the `call` field.

[code]

The issu

[2020-08-06 22:21] #533 closed

[2020-08-07 08:58] gitmics opened #536 "Missing import in Bolt for Java tutorial"
### Issue Type

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [x] Documentation

### Description

You are missing this import

[code]

---
(only for a bug report)

The issue is reproducible in:
* Module Version: **TODO**: x.y.z
* JDK Version:
[code]
* OS Version etc: `MacOS 10.13.6 High Sierra`

The steps to reproduce are:
1.  Following the steps and Build the full example.
2.
[co

[2020-08-07 09:33] seratch commented on #536
Thanks for taking the time to report this! I think you mention the page. Am I right? https://api.slack.com/start/building/bolt-java#listening If so, you're right. We'll fix the error soon.

[2020-08-07 10:31] gitmics commented on #536
Yes, that was the page.
Sorry, meant to paste the URL into the bug report.
    On Friday, 7 August 2020, 10:34:12 BST, Kazuhiro Sera <notifications@github.com> wrote:

Thanks for taking the time to report this! I think you mention the page. Am I right? https://api.slack.com/start/building/bolt-java#listening If so, you're right. We'll fix the error soon.

—
You are receiving this because you autho

[2020-08-11 06:08] seratch opened #538 "Add api_app_id to SlashCommandPayload"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

https://api.slack.com/changelog

[code]

https://api.slack.com/interactivity/slash-commands#app_command_handling
### Requirements (place an `x` in each of the `[ ]`)

* [x] I've read and understood the [Contributing guidelines](https://github.com/slackapi/java-slack-sdk/blob/master/.g

[2020-08-11 23:39] #538 closed

[2020-08-18 07:06] PulsarBlow opened #541 "RichTextBlock documentation is nowhere found"
### Issue Type

- [ ] Bug
- [ ] Enhancement / Feature request
- [x] Question
- [x] Documentation

### Description

Hello there 👋 ,

I'm looking for any official documentation/reference about the [RichTextBlock](https://github.com/slackapi/java-slack-sdk/blob/main/slack-api-model/src/main/java/com/slack/api/model/block/RichTextBlock.java) (and its related RichText elements) which seems to be used i

[2020-08-18 07:31] seratch commented on #541
Hi @PulsarBlow , thanks for asking a question here!

As you checked already, https://api.slack.com/changelog/2019-09-what-they-see-is-what-you-get-and-more-and-less is the only available information in the API site.

The `rich-text` blocks are populated by Slack's WYSIWYG editor, and those blocks are supposed to be used by client apps for the editor feature.  As the 1st party apps also use our ope

[2020-08-18 12:17] Syed-SnapLogic opened #542 "Search doesn't return File ID"
### Issue Type

SDK not pulling File ID into search results from REST JSON response

Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

I am using SDK to do the search operation.  I get three files matching, but the file ID is missing.

The issue is reproducible in:
* Module Version: **TODO**: 1.1.3
* JDK Version: *

[2020-08-18 12:19] Syed-SnapLogic commented on #542
Notice that, file ID is null when info printed using SDK.

[2020-08-18 16:47] PulsarBlow commented on #541
Hello @seratch ,

Thank you for you answer !
Explained that way it makes a lot more sense.

[2020-08-18 16:47] #541 closed

[2020-08-18 18:33] zaphodis42 opened #543 "Interactive Actions API doesn't work in the bolt-spring-boot-example"
### Issue Type

Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description
(Describe your issue here)
Method not being invoked for interactive events (Eg. button click), in logs 'No request pattern detected for 'is seen.
Using the method as described https://slack.dev/java-slack-sdk/guides/interactive-components in a spring

[2020-08-18 22:05] seratch commented on #542
@Syed-SnapLogic I understand this may be a bit confusing but both the original JSON data and parsed Java objects includes file IDs as `matches[].id` not `matches[].file_id`. Please access the `id` field to fetch files' IDs.

[2020-08-19 08:43] Syed-SnapLogic commented on #542
Thanks so much @seratch.  I am clear now.  However, do you have any working example of search with pagination via SDK?

[2020-08-19 10:44] gvsakhil commented on #372
I am still facing this issue

{
    "ok": false,
    "error": "invalid_arguments",
    "deprecated_argument": "as_user",
    "warning": "missing_charset",
    "response_metadata": {
        "warnings": [
            "missing_charset"
        ]
    }
}

[2020-08-19 11:17] gvsakhil commented on #372
I went through the docs and for new bots we can use just the bot accessToken directly and we can ignore as_user parameter. It should we working fine with this 👍

Example:

[code]

[2020-08-20 02:22] seratch commented on #543
@zaphodis42 Could you try the following example? You don't need to use the slash command. Just posting a message including the button as the first step should work.

[code]

[2020-08-20 05:11] seratch commented on #542
@Syed-SnapLogic It's fairly simple. You can have `page` & `count` parameters in `search.*` API calls. Both are just integer values. For your information, I just added a few samples in the integration tests: https://github.com/slackapi/java-slack-sdk/commit/c31300a06f3fb0111c6d19141bc881ab38481e1a

As I've provided answers to your questions here, let me close this issue now. But feel free to write

[2020-08-20 05:11] #542 closed

[2020-08-20 05:59] seratch opened #545 "Upgrade Kotlin version to 1.4"
### Issue Type

- [ ] Bug
- [x] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

I tried building the existing code in Kotlin 1.4. I didn't detect any issues so far. Also, as long as I scanned the migration guide quickly, there is no binary incompatibility issues with the version (at least no known issues at this point).

https://kotlinlang.org/docs/reference/comp

[2020-08-20 06:50] Syed-SnapLogic commented on #542
Amazing, thanks @seratch .  Even I did the same.  I was just wondering if the SearchResult has the ability to scroll thru pages without having to make an additional API call.  Its not so.  We need to make call for every page.

Lastly, do you have any example where we can post a message to a user (direct message) rather than to a channel?

[2020-08-20 10:02] Syed-SnapLogic commented on #542
I found the solution here but an example added to ur repo would be great.  https://stackoverflow.com/questions/47753834/how-to-send-direct-messages-to-a-user-as-app-in-app-channel

[2020-08-20 10:30] Syed-SnapLogic commented on #542
@seratch , one final question about search.  I have injected 11 messages.  Each of these 11 messages are prefixed with 'slack-syed-seratch'. See the screenshot below.

![image](https://user-images.githubusercontent.com/5888194/90759385-f8faa300-e2fd-11ea-9078-66f35ccf89b7.png)

Next, I am doing a search.all operation using POSTMAN.  I am expecting the match count to 11.  But its not.  Its just 7 a

[2020-08-20 11:07] seratch commented on #542
@Syed-SnapLogic
For sending a message in DM, please use `conversations.open` and `chat.postMessage` (`im.open` is deprecated)

For the search result, I've also confirmed that some matched results are not included in `search.*` API responses. I will share this with the teams concerned. That said, as it's a matter on the server-side, I cannot tell when it will be improved. I'd be grateful if you cou

[2020-08-20 16:30] Syed-SnapLogic commented on #542
Yeah, thanks so much.  One final question, if you know it.  I want to write a java program (called channel listener).  My program will run continuously monitoring for events from channel.  Whenever an event happens in channel (someone sent a message/file, etc), my app gets notified with the details, so that my app can do the respective action.

[2020-08-21 07:24] Przemek-12 opened #548 "Binary compatibility issue with old Kotlin language version"
### Issue Type

**TODO**:
Place an `x` in one of the `[ ]`.

- [x] Bug
- [ ] Enhancement / Feature request
- [ ] Question
- [ ] Documentation

### Description

**TODO**:
I'm developing spring boot application with jdk 13 that uses slack api - slask commands. Requests from slack come to my endpoint and I can read request entity. The problem is when I call Slack.getInstance() method. Compiler throws

[2020-08-21 07:36] seratch commented on #548
This seems to be a binary-compatibility issue with Kotlin language standard libraries in your project.

This SDK doesn't directly depend on Kotlin (except Kotlin extensions) but underlying okhttp library relies on Kotlin 1.3 or higher. So, please upgrade Kotlin lang dependencies to the latest.

Also, Spring Boot may add okhttp 3.x but the old major version is not compatible with this SDK. Explicit

[2020-08-21 07:41] Przemek-12 commented on #548
Thank you, adding Kotlin dependency worked.

Kind Regards,
Przemek

From: Kazuhiro Sera
Sent: piątek, 21 sierpnia 2020 09:37
To: slackapi/java-slack-sdk
Cc: Przemek-12; Author
Subject: Re: [slackapi/java-slack-sdk] Spring boot, jdk13, noSuchMethodErrorexecuting Slack.getInstance() (#548)

Compiler throws exception: java.lang.NoSuchMethodError: 'byte[] kotlin.collections.ArraysKt.copyInto(byte[], b

[2020-08-21 07:43] seratch commented on #548
Great to know. Let me close this issue now.

[2020-08-21 07:43] #548 closed

[2020-08-24 07:46] zaphodis42 commented on #543
Thanks and sorry for the delay, the issue seems to be with an additional spring starter import I had added in my pom.xml

I'm not exactly sure though which additional library was the offending one, but possibly related to https://stackoverflow.com/questions/10210645/http-servlet-request-lose-params-from-post-body-after-read-it-once/54258488 , I also read something similar in one blog - "We can't r

[2020-08-24 08:54] seratch commented on #543
@zaphodis42 Thanks for sharing this!

As long as Slack sends only `payload` parameter in request body, the workaround should work (FYI: request verification requires access to the original raw request body). At this moment, we don't have any plans to add more params. You don't need to worry about it very much so far.

I haven't checked yet but I guess spring-cloud dependencies may do something ext

[2020-08-24 08:54] #543 closed

[2020-09-01 12:23] pmioulet opened #549 "UsersLookupByEmailResponse extends a deprecated class"
`com.slack.api.methods.response.users.UsersLookupByEmailResponse` extends a deprecated class which points back to it as a fix:

[code]
Using that class in the users package causes deprecation warnings in any code using this. Is this some work in progress?

Thanks.

[2020-09-01 12:27] seratch commented on #549
@pmioulet Hello, thanks for asking a question. After releasing v1.0, we noticed that the class was placed in the wrong package (channels). Just in case, the corrected class inherits the old class for backward-compatibility: https://github.com/slackapi/java-slack-sdk/pull/486

 We're going to remove the parent (deprecated) class in the future versions.